In [1]:
import pandas as pd
import numpy as np

In [2]:
orp = pd.read_csv('../Data/oral-pitch.csv')
orb = pd.read_csv('../Data/oral-bat.csv')

In [3]:
orp = orp.drop(columns=['BK', 'IBB', 'W-L%', 'GF', 'CG', 'Rk', 'Notes'])
orp.head()

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
0,Price Allman,--,0,0,2.08,5,0,0,0,4.1,...,0,1,0,19,1.615,10.4,0.0,4.2,0.0,0.00
1,Josh Caravalho?,--,5,1,2.98,15,10,0,0,51.1,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67
2,Cade Denton,21,2,1,1.85,33,0,0,15,58.1,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
3,Conner Floyd?,--,1,0,3.00,3,0,0,0,3.0,...,7,1,0,15,1.333,3.0,0.0,9.0,21.0,2.33
4,Brooks Fowler?,--,9,1,3.27,16,16,0,0,77.0,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55

In [4]:
orp = orp.sort_values(by=['BF'], ascending=False)
orp.head()

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
15,15 Players,22.5,51,12,3.97,63,63,5,23,555.1,...,584,60,30,2367,1.277,8.0,1.2,3.5,9.5,2.73
6,Jakob Hall?,--,8,3,3.56,17,17,0,0,93.2,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,24,10,1,4.30,17,16,0,0,88.0,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,--,9,1,3.27,16,16,0,0,77.0,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,21,2,1,1.85,33,0,0,15,58.1,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09

In [5]:
orp = orp[1:]
orp.head()

,Name,Age,W,L,ERA,G,GS,SHO,SV,IP,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,--,8,3,3.56,17,17,0,0,93.2,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,24,10,1,4.30,17,16,0,0,88.0,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,--,9,1,3.27,16,16,0,0,77.0,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,21,2,1,1.85,33,0,0,15,58.1,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
1,Josh Caravalho?,--,5,1,2.98,15,10,0,0,51.1,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67

In [6]:
orb = orb.drop(columns=['IBB', 'Notes', 'Rk', 'SH', 'CS', 'SB', 'GDP'])
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Preston Baumgartner?,--,16,27,21,2,5,1,0,1,7,4,11,0.238,0.370,0.429,0.799,9,1,1
1,Ryan Blackwell,21,14,25,20,4,5,2,0,0,2,3,10,0.250,0.400,0.350,0.750,7,2,0
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
3,Blaze Brothers,23,62,256,225,63,68,18,2,11,38,21,57,0.302,0.377,0.547,0.923,123,7,2
4,Garrett Casey?,--,15,44,36,5,8,0,0,2,6,6,7,0.222,0.349,0.389,0.738,14,1,0

In [7]:
orb = orb.sort_values(by=['PA'], ascending=False)
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
18,18 Players,22.4,63,2675,2234,533,721,127,19,95,478,316,470,0.323,0.416,0.524,0.940,1171,64,34
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4

In [8]:
orb = orb[1:]
orb.head()

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,Matt Hogan*,23,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6

In [9]:
orb

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,Matt Hogan*,23,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6
13,Drew Stahl,22,60,270,221,42,62,15,0,11,55,37,54,0.281,0.397,0.498,0.895,110,7,2
3,Blaze Brothers,23,62,256,225,63,68,18,2,11,38,21,57,0.302,0.377,0.547,0.923,123,7,2
6,Jacob Godman,23,56,219,186,40,55,12,2,5,29,27,36,0.296,0.384,0.462,0.847,86,1,2
12,Justin Quinn?,--,44,215,185,54,65,9,0,7,39,15,25,0.351,0.425,0.514,0.938,95,10,2
14,Sam Thompson*,22,28,84,66,18,18,4,1,3,9,12,21,0.273,0.422,0.500,0.922,33,5,0
4,Garrett Casey?,--,15,44,36,5,8,0,0,2,6,6,7,0.222,0.349,0.389,0.738,14,1,0
0,Preston Baumgartner?,--,16,27,21,2,5,1,0,1,7,4,11,0.238,0.370,0.429,0.799,9,1,1
1,Ryan Blackwell,21,14,25,20,4,5,2,0,0,2,3,10,0.250,0.400,0.350,0.750,7,2,0
8,Max Lucas?,--,12,24,22,1,8,2,0,0,2,1,8,0.364,0.391,0.455,0.846,10,0,0
11,Dalton Patten?,--,31,10,8,2,2,0,0,1,3,1,3,0.250,0.400,0.625,1.025,5,1,0
17,Dylan Wipperman?,--,9,8,8,1,2,0,0,0,0,0,3,0.250,0.250,0.250,0.500,2,0,0
16,Parker Ward?,--,4,2,1,1,0,0,0,0,0,1,0,0.000,0.500,0.000,0.500,0,0,0
15,Dawson Walls?,--,1,1,1,0,1,0,0,0,0,0,0,1.000,1.000,1.000,2.000,1,0,0

In [10]:
orp = orp.drop(columns=['Age'])

In [11]:
orp.head()

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
1,Josh Caravalho?,5,1,2.98,15,10,0,0,51.1,44,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67

In [12]:
orp.columns

Index(['Name', 'W', 'L', 'ERA', 'G', 'GS', 'SHO', 'SV', 'IP', 'H', 'R', 'ER',
       'HR', 'BB', 'SO', 'HBP', 'WP', 'BF', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9',
       'SO/W'],
      dtype='object')

In [21]:
orp

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
1,Josh Caravalho?,5,1,2.98,15,10,0,0,51.1,44,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67
14,Jacob Widener*,2,2,3.06,29,2,0,1,47.0,30,...,76,16,1,200,1.064,5.7,0.8,3.8,14.6,3.80
8,Caleb Isaacs?,8,0,5.04,27,0,0,0,44.2,46,...,43,3,1,194,1.500,9.3,1.8,4.2,8.7,2.05
10,Dalton Patten?,4,2,4.43,27,0,0,5,44.2,26,...,48,3,10,183,1.075,5.2,0.6,4.4,9.7,2.18
9,Evan Kowalski,2,1,6.25,19,2,0,2,31.2,37,...,27,0,5,145,1.705,10.5,1.7,4.8,7.7,1.59
11,Andrew Roach?,0,0,13.50,7,0,0,0,4.2,12,...,6,1,0,30,3.214,23.1,1.9,5.8,11.6,2.00
7,Hudson Hart?,0,0,10.38,5,0,0,0,4.1,6,...,4,1,0,26,2.769,12.5,2.1,12.5,8.3,0.67
12,Reed Ronan?,0,0,27.00,5,0,0,0,2.2,7,...,2,0,0,24,5.625,23.6,10.1,27.0,6.8,0.25
0,Price Allman,0,0,2.08,5,0,0,0,4.1,5,...,0,1,0,19,1.615,10.4,0.0,4.2,0.0,0.00
3,Conner Floyd?,1,0,3.00,3,0,0,0,3.0,1,...,7,1,0,15,1.333,3.0,0.0,9.0,21.0,2.33
13,Ryan Tressler?,0,0,inf,1,0,0,0,0.0,0,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,0.00

In [22]:
orb = orb[:10]
orb

,Name,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,Jake McMurray?,--,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,Mac McCroskey,23,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,Jonah Cox,21,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,Holden Breeze,22,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,Matt Hogan*,23,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6
13,Drew Stahl,22,60,270,221,42,62,15,0,11,55,37,54,0.281,0.397,0.498,0.895,110,7,2
3,Blaze Brothers,23,62,256,225,63,68,18,2,11,38,21,57,0.302,0.377,0.547,0.923,123,7,2
6,Jacob Godman,23,56,219,186,40,55,12,2,5,29,27,36,0.296,0.384,0.462,0.847,86,1,2
12,Justin Quinn?,--,44,215,185,54,65,9,0,7,39,15,25,0.351,0.425,0.514,0.938,95,10,2
14,Sam Thompson*,22,28,84,66,18,18,4,1,3,9,12,21,0.273,0.422,0.500,0.922,33,5,0

In [23]:
orb = orb.drop(columns=['Name', 'Age'])
orb

,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
10,63,318,266,59,87,14,1,6,47,40,28,0.327,0.415,0.455,0.870,121,4,6
9,63,305,258,65,80,10,2,13,62,34,45,0.310,0.393,0.516,0.908,133,5,6
5,63,302,262,69,110,16,8,11,67,30,49,0.420,0.480,0.668,1.148,175,3,3
2,63,287,240,48,76,12,0,6,42,33,48,0.317,0.404,0.442,0.846,106,5,4
7,60,278,208,59,69,12,3,18,70,51,65,0.332,0.477,0.678,1.154,141,12,6
13,60,270,221,42,62,15,0,11,55,37,54,0.281,0.397,0.498,0.895,110,7,2
3,62,256,225,63,68,18,2,11,38,21,57,0.302,0.377,0.547,0.923,123,7,2
6,56,219,186,40,55,12,2,5,29,27,36,0.296,0.384,0.462,0.847,86,1,2
12,44,215,185,54,65,9,0,7,39,15,25,0.351,0.425,0.514,0.938,95,10,2
14,28,84,66,18,18,4,1,3,9,12,21,0.273,0.422,0.500,0.922,33,5,0

In [24]:
df2 = orb.mean(axis=0)
df2

G       56.2000
PA     253.4000
AB     211.7000
R       51.7000
H       69.0000
2B      12.2000
3B       1.9000
HR       9.1000
RBI     45.8000
BB      30.0000
SO      42.8000
BA       0.3209
OBP      0.4174
SLG      0.5280
OPS      0.9451
TB     112.3000
HBP      5.9000
SF       3.3000
dtype: float64

In [25]:
s = df2.sort_index()
orbat_mean = s.to_frame().T
orbat_mean

,2B,3B,AB,BA,BB,G,H,HBP,HR,OBP,OPS,PA,R,RBI,SF,SLG,SO,TB
0,12.2,1.9,211.7,0.3209,30.0,56.2,69.0,5.9,9.1,0.4174,0.9451,253.4,51.7,45.8,3.3,0.528,42.8,112.3

In [26]:
# orbat_mean.to_csv('or-bat-mean.csv', index=False)

In [27]:
orp

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
1,Josh Caravalho?,5,1,2.98,15,10,0,0,51.1,44,...,40,5,5,218,1.325,7.7,1.1,4.2,7.0,1.67
14,Jacob Widener*,2,2,3.06,29,2,0,1,47.0,30,...,76,16,1,200,1.064,5.7,0.8,3.8,14.6,3.80
8,Caleb Isaacs?,8,0,5.04,27,0,0,0,44.2,46,...,43,3,1,194,1.500,9.3,1.8,4.2,8.7,2.05
10,Dalton Patten?,4,2,4.43,27,0,0,5,44.2,26,...,48,3,10,183,1.075,5.2,0.6,4.4,9.7,2.18
9,Evan Kowalski,2,1,6.25,19,2,0,2,31.2,37,...,27,0,5,145,1.705,10.5,1.7,4.8,7.7,1.59
11,Andrew Roach?,0,0,13.50,7,0,0,0,4.2,12,...,6,1,0,30,3.214,23.1,1.9,5.8,11.6,2.00
7,Hudson Hart?,0,0,10.38,5,0,0,0,4.1,6,...,4,1,0,26,2.769,12.5,2.1,12.5,8.3,0.67
12,Reed Ronan?,0,0,27.00,5,0,0,0,2.2,7,...,2,0,0,24,5.625,23.6,10.1,27.0,6.8,0.25
0,Price Allman,0,0,2.08,5,0,0,0,4.1,5,...,0,1,0,19,1.615,10.4,0.0,4.2,0.0,0.00
3,Conner Floyd?,1,0,3.00,3,0,0,0,3.0,1,...,7,1,0,15,1.333,3.0,0.0,9.0,21.0,2.33
13,Ryan Tressler?,0,0,inf,1,0,0,0,0.0,0,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,0.00

In [28]:
orip = orp[:3]
orip

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55

In [29]:
orp = orp.sort_values(by=['G'], ascending=False)
orpg = orp[:3]
orpg

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
14,Jacob Widener*,2,2,3.06,29,2,0,1,47.0,30,...,76,16,1,200,1.064,5.7,0.8,3.8,14.6,3.80
8,Caleb Isaacs?,8,0,5.04,27,0,0,0,44.2,46,...,43,3,1,194,1.500,9.3,1.8,4.2,8.7,2.05

In [30]:
frames = [orpg, orip]

result = pd.concat(frames)
result

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
14,Jacob Widener*,2,2,3.06,29,2,0,1,47.0,30,...,76,16,1,200,1.064,5.7,0.8,3.8,14.6,3.80
8,Caleb Isaacs?,8,0,5.04,27,0,0,0,44.2,46,...,43,3,1,194,1.500,9.3,1.8,4.2,8.7,2.05
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55

In [31]:
result = result.drop_duplicates()
result

,Name,W,L,ERA,G,GS,SHO,SV,IP,H,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
2,Cade Denton,2,1,1.85,33,0,0,15,58.1,44,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
14,Jacob Widener*,2,2,3.06,29,2,0,1,47.0,30,...,76,16,1,200,1.064,5.7,0.8,3.8,14.6,3.80
8,Caleb Isaacs?,8,0,5.04,27,0,0,0,44.2,46,...,43,3,1,194,1.500,9.3,1.8,4.2,8.7,2.05
6,Jakob Hall?,8,3,3.56,17,17,0,0,93.2,89,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,Harley Gollert*,10,1,4.30,17,16,0,0,88.0,83,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,Brooks Fowler?,9,1,3.27,16,16,0,0,77.0,65,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55

In [33]:
result = result.drop(columns=['Name'])
result

,W,L,ERA,G,GS,SHO,SV,IP,H,R,...,SO,HBP,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
2,2,1,1.85,33,0,0,15,58.1,44,12,...,78,5,3,227,0.943,6.8,0.3,1.7,12.0,7.09
14,2,2,3.06,29,2,0,1,47.0,30,20,...,76,16,1,200,1.064,5.7,0.8,3.8,14.6,3.80
8,8,0,5.04,27,0,0,0,44.2,46,26,...,43,3,1,194,1.500,9.3,1.8,4.2,8.7,2.05
6,8,3,3.56,17,17,0,0,93.2,89,41,...,91,10,3,380,1.110,8.6,1.2,1.4,8.7,6.07
5,10,1,4.30,17,16,0,0,88.0,83,43,...,88,7,1,376,1.295,8.5,1.6,3.2,9.0,2.84
4,9,1,3.27,16,16,0,0,77.0,65,30,...,74,7,1,328,1.221,7.6,1.5,3.4,8.6,2.55

In [34]:
result.columns

Index(['W', 'L', 'ERA', 'G', 'GS', 'SHO', 'SV', 'IP', 'H', 'R', 'ER', 'HR',
       'BB', 'SO', 'HBP', 'WP', 'BF', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9',
       'SO/W'],
      dtype='object')

In [35]:
df2 = result[['W', 'L', 'ERA', 'G', 'GS', 'SHO', 'SV', 'IP', 'H', 'R', 'ER', 'HR',
       'BB', 'SO', 'HBP', 'WP', 'BF', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9',
       'SO/W']].mean()

In [36]:
p = df2.sort_index()
orpit_mean = p.to_frame().T
orpit_mean

,BB,BB9,BF,ER,ERA,G,GS,H,H9,HBP,...,L,R,SHO,SO,SO/W,SO9,SV,W,WHIP,WP
0,21.166667,2.95,284.166667,26.666667,3.513333,23.166667,8.5,59.5,7.75,8.0,...,1.333333,28.666667,0.0,75.0,4.066667,10.266667,2.666667,6.5,1.188833,1.666667

In [37]:
# orpit_mean.to_csv('or-pitch-mean.csv', index=False)