In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../EDA/individual scores/top_women.csv")

In [3]:
df

,Name,Date,Competition,Round,VT,UB,BB,FX,AA
0,Simone Biles,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000
1,Simone Biles,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000
2,Simone Biles,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731
3,Simone Biles,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533
4,Simone Biles,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565
...,...,...,...,...,...,...,...,...,...
321,Katelyn Jong,2023-08-04,U.S. Classic,AA,13.700,13.750,12.950,13.050,53.450
322,Katelyn Jong,2023-07-09,July National Team Camp,AA,13.850,13.750,12.250,13.400,53.250
323,Katelyn Jong,2023-04-30,Pan American Trials,AA,14.150,13.200,12.600,12.400,52.350
324,Katelyn Jong,2023-02-23,Winter Cup,AA,13.500,12.200,10.500,12.700,48.900
325,Katelyn Jong,2023-02-17,WOGA Classic,AA,13.250,14.000,12.500,12.250,52.000

In [4]:
dummydf = pd.read_csv("../../EDA/individual scores/dummydf.csv")

In [5]:
dummydf

                  Name        Date    Competition Round  VT  UB  BB  FX  AA
0         Simone Biles  2024-08-24  Olympic Games    TF   0   0   0   0   0
1         Skye Blakely  2024-08-24  Olympic Games    TF   0   0   0   0   0
2        Jordan Chiles  2024-08-24  Olympic Games    TF   0   0   0   0   0
3        Kayla DiCello  2024-08-24  Olympic Games    TF   0   0   0   0   0
4        Shilese Jones  2024-08-24  Olympic Games    TF   0   0   0   0   0
5           Zoe Miller  2024-08-24  Olympic Games    TF   0   0   0   0   0
6    Joscelyn Roberson  2024-08-24  Olympic Games    TF   0   0   0   0   0
7      Ashlee Sullivan  2024-08-24  Olympic Games    TF   0   0   0   0   0
8   Tiana Sumanasekera  2024-08-24  Olympic Games    TF   0   0   0   0   0
9          Leanne Wong  2024-08-24  Olympic Games    TF   0   0   0   0   0
10       Nola Matthews  2024-08-24  Olympic Games    TF   0   0   0   0   0
11          Sunisa Lee  2024-08-24  Olympic Games    TF   0   0   0   0   0
12          Jade Carey  2024-08-24  Olympic Games    TF   0   0   0   0   0
13        Katelyn Jong  2024-08-24  Olympic Games    TF   0   0   0   0   0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         326 non-null    object
 1   Date         326 non-null    object
 2   Competition  326 non-null    object
 3   Round        326 non-null    object
 4   VT           326 non-null    float64
 5   UB           326 non-null    float64
 6   BB           326 non-null    float64
 7   FX           326 non-null    float64
 8   AA           326 non-null    float64
dtypes: float64(5), object(4)
memory usage: 23.0+ KB

In [7]:
dummydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         14 non-null     object
 1   Date         14 non-null     object
 2   Competition  14 non-null     object
 3   Round        14 non-null     object
 4   VT           14 non-null     int64
 5   UB           14 non-null     int64
 6   BB           14 non-null     int64
 7   FX           14 non-null     int64
 8   AA           14 non-null     int64
dtypes: int64(5), object(4)
memory usage: 1.1+ KB

In [8]:
df = df.drop(columns=["AA"])
dummydf = dummydf.drop(columns=["AA"])