In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('NYPD_Shooting_Incident_Data__Historic_.csv')

In [22]:
df

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,...,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,228798151,05/27/2021,21:30:00,QUEENS,NaN,105,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.058925e+06,180924.000000,40.662965,-73.730839,POINT (-73.73083868899994 40.662964620000025)
1,137471050,06/27/2014,17:40:00,BRONX,NaN,40,0.0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.005028e+06,234516.000000,40.810352,-73.924942,POINT (-73.92494232599995 40.81035186300006)
2,147998800,11/21/2015,03:56:00,QUEENS,NaN,108,0.0,NaN,NaN,True,...,NaN,NaN,25-44,M,WHITE,1.007668e+06,209836.531250,40.742607,-73.915492,POINT (-73.91549174199997 40.74260663300004)
3,146837977,10/09/2015,18:30:00,BRONX,NaN,44,0.0,NaN,NaN,False,...,NaN,NaN,<18,M,WHITE HISPANIC,1.006537e+06,244511.140625,40.837782,-73.919457,POINT (-73.91945661499994 40.83778200300003)
4,58921844,02/19/2009,22:58:00,BRONX,NaN,47,0.0,NaN,NaN,True,...,M,BLACK,45-64,M,BLACK,1.024922e+06,262189.406250,40.886238,-73.852910,POINT (-73.85290950899997 40.88623791800006)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27307,245029823,05/14/2022,03:02:00,BRONX,OUTSIDE,48,0.0,STREET,(null),False,...,(null),(null),18-24,M,BLACK,1.011526e+06,247828.000000,40.846864,-73.901413,POINT (-73.90141321 40.84686352)
27308,239583450,01/22/2022,13:15:00,MANHATTAN,OUTSIDE,30,0.0,STREET,(null),False,...,F,WHITE HISPANIC,25-44,M,WHITE HISPANIC,9.974580e+05,240485.000000,40.826743,-73.952273,POINT (-73.952273 40.826743)
27309,246825728,06/18/2022,03:29:00,MANHATTAN,OUTSIDE,32,0.0,STREET,(null),False,...,M,BLACK,25-44,M,BLACK,1.000999e+06,234464.000000,40.810209,-73.939496,POINT (-73.9394955 40.81020941)
27310,246876579,06/19/2022,20:08:00,BRONX,INSIDE,46,2.0,HOUSING,MULTI DWELL - PUBLIC HOUS,False,...,M,BLACK,25-44,M,WHITE HISPANIC,1.012980e+06,251028.000000,40.855644,-73.896141,POINT (-73.896141 40.855644)
27311,239861542,01/28/2022,18:14:00,BRONX,OUTSIDE,45,0.0,STREET,(null),False,...,M,BLACK,18-24,M,BLACK,1.026549e+06,244293.000000,40.837102,-73.847134,POINT (-73.847134 40.837102)

In [23]:
df.columns

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'LOC_OF_OCCUR_DESC',
       'PRECINCT', 'JURISDICTION_CODE', 'LOC_CLASSFCTN_DESC', 'LOCATION_DESC',
       'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
       'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD',
       'Latitude', 'Longitude', 'Lon_Lat'],
      dtype='object')

## Remove teh following columns
'X_COORD_CD', 'Y_COORD_CD',
       'Latitude', 'Longitude', 'Lon_Lat'

In [24]:
df = df.drop(columns=['X_COORD_CD', 'Y_COORD_CD',
       'Latitude', 'Longitude', 'Lon_Lat'])

In [25]:
df

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE
0,228798151,05/27/2021,21:30:00,QUEENS,NaN,105,0.0,NaN,NaN,False,NaN,NaN,NaN,18-24,M,BLACK
1,137471050,06/27/2014,17:40:00,BRONX,NaN,40,0.0,NaN,NaN,False,NaN,NaN,NaN,18-24,M,BLACK
2,147998800,11/21/2015,03:56:00,QUEENS,NaN,108,0.0,NaN,NaN,True,NaN,NaN,NaN,25-44,M,WHITE
3,146837977,10/09/2015,18:30:00,BRONX,NaN,44,0.0,NaN,NaN,False,NaN,NaN,NaN,<18,M,WHITE HISPANIC
4,58921844,02/19/2009,22:58:00,BRONX,NaN,47,0.0,NaN,NaN,True,25-44,M,BLACK,45-64,M,BLACK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27307,245029823,05/14/2022,03:02:00,BRONX,OUTSIDE,48,0.0,STREET,(null),False,(null),(null),(null),18-24,M,BLACK
27308,239583450,01/22/2022,13:15:00,MANHATTAN,OUTSIDE,30,0.0,STREET,(null),False,25-44,F,WHITE HISPANIC,25-44,M,WHITE HISPANIC
27309,246825728,06/18/2022,03:29:00,MANHATTAN,OUTSIDE,32,0.0,STREET,(null),False,18-24,M,BLACK,25-44,M,BLACK
27310,246876579,06/19/2022,20:08:00,BRONX,INSIDE,46,2.0,HOUSING,MULTI DWELL - PUBLIC HOUS,False,25-44,M,BLACK,25-44,M,WHITE HISPANIC
27311,239861542,01/28/2022,18:14:00,BRONX,OUTSIDE,45,0.0,STREET,(null),False,18-24,M,BLACK,18-24,M,BLACK

In [26]:
df["LOCATION_DESC"].value_counts()

LOCATION_DESC
MULTI DWELL - PUBLIC HOUS    4832
MULTI DWELL - APT BUILD      2835
(null)                        977
PVT HOUSE                     951
GROCERY/BODEGA                694
BAR/NIGHT CLUB                628
COMMERCIAL BLDG               292
RESTAURANT/DINER              204
NONE                          175
BEAUTY/NAIL SALON             112
FAST FOOD                     104
SOCIAL CLUB/POLICY LOCATI      72
GAS STATION                    71
HOSPITAL                       65
LIQUOR STORE                   41
SMALL MERCHANT                 37
STORE UNCLASSIFIED             36
HOTEL/MOTEL                    35
DRY CLEANER/LAUNDRY            31
SUPERMARKET                    21
DRUG STORE                     14
CLOTHING BOUTIQUE              14
JEWELRY STORE                  12
TELECOMM. STORE                11
VARIETY STORE                  11
SHOE STORE                     10
DEPT STORE                      9
FACTORY/WAREHOUSE               8
VIDEO STORE                     8
CANDY STORE                     7
CHAIN STORE                     5
GYM/FITNESS FACILITY            3
BANK                            3
DOCTOR/DENTIST                  1
ATM                             1
SCHOOL                          1
LOAN COMPANY                    1
PHOTO/COPY STORE                1
CHECK CASH                      1
STORAGE FACILITY                1
Name: count, dtype: int64

In [14]:
df["LOC_CLASSFCTN_DESC"].value_counts()

LOC_CLASSFCTN_DESC
STREET         1103
HOUSING         280
DWELLING        127
COMMERCIAL      100
OTHER            31
PLAYGROUND       30
VEHICLE          23
TRANSIT          15
PARKING LOT       7
Name: count, dtype: int64

In [15]:
df["LOC_OF_OCCUR_DESC"].value_counts()

LOC_OF_OCCUR_DESC
OUTSIDE    1474
INSIDE      242
Name: count, dtype: int64

In [16]:
df["INCIDENT_KEY"].nunique()

21420

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27312 entries, 0 to 27311
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             27312 non-null  int64
 1   OCCUR_DATE               27312 non-null  object
 2   OCCUR_TIME               27312 non-null  object
 3   BORO                     27312 non-null  object
 4   LOC_OF_OCCUR_DESC        1716 non-null   object
 5   PRECINCT                 27312 non-null  int64
 6   JURISDICTION_CODE        27310 non-null  float64
 7   LOC_CLASSFCTN_DESC       1716 non-null   object
 8   LOCATION_DESC            12335 non-null  object
 9   STATISTICAL_MURDER_FLAG  27312 non-null  bool
 10  PERP_AGE_GROUP           17968 non-null  object
 11  PERP_SEX                 18002 non-null  object
 12  PERP_RACE                18002 non-null  object
 13  VIC_AGE_GROUP            27312 non-null  object
 14  VIC_SEX                  27312 non-null  object
 15  VIC_RACE                 27312 non-null  object
dtypes: bool(1), float64(1), int64(2), object(12)
memory usage: 3.2+ MB

### Join data and time and change daeta type to datetime

In [27]:
dff = df.copy()

In [28]:
dff['datetime'] = pd.to_datetime(dff['OCCUR_DATE'] + ' ' + dff['OCCUR_TIME'])

In [29]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27312 entries, 0 to 27311
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             27312 non-null  int64
 1   OCCUR_DATE               27312 non-null  object
 2   OCCUR_TIME               27312 non-null  object
 3   BORO                     27312 non-null  object
 4   LOC_OF_OCCUR_DESC        1716 non-null   object
 5   PRECINCT                 27312 non-null  int64
 6   JURISDICTION_CODE        27310 non-null  float64
 7   LOC_CLASSFCTN_DESC       1716 non-null   object
 8   LOCATION_DESC            12335 non-null  object
 9   STATISTICAL_MURDER_FLAG  27312 non-null  bool
 10  PERP_AGE_GROUP           17968 non-null  object
 11  PERP_SEX                 18002 non-null  object
 12  PERP_RACE                18002 non-null  object
 13  VIC_AGE_GROUP            27312 non-null  object
 14  VIC_SEX                  27312 non-null  object
 15  VIC_RACE                 27312 non-null  object
 16  datetime                 27312 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(12)
memory usage: 3.4+ MB

In [30]:
dff["datetime"]

0       2021-05-27 21:30:00
1       2014-06-27 17:40:00
2       2015-11-21 03:56:00
3       2015-10-09 18:30:00
4       2009-02-19 22:58:00
                ...
27307   2022-05-14 03:02:00
27308   2022-01-22 13:15:00
27309   2022-06-18 03:29:00
27310   2022-06-19 20:08:00
27311   2022-01-28 18:14:00
Name: datetime, Length: 27312, dtype: datetime64[ns]

In [31]:
dff = dff.drop(columns=["OCCUR_DATE", "OCCUR_TIME"])

In [32]:
df = dff.copy()