In [44]:
import pandas as pd
import numpy as np

In [9]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 1.9 MB/s eta 0:00:0000:0100:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
DEPRECATION: beakerx-base 2.2.0 has a non-standard dependency specifier ipywidgets<8pandas,>=7.5.1. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of beakerx-base or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [86]:
# Specify the path to your Excel file
file_path = 'Annual-change-in-the-number-of-residences-by-type-of-activity-and-by-canton.xlsx'

all_sheets = pd.read_excel(file_path, sheet_name=None, engine='openpyxl')

# Display the sheet names
print(all_sheets.keys())

dict_keys(['2022', '2021', '2020 rev', '2019 rev'])

In [87]:

# Load the Excel file to check sheet names
xls = pd.ExcelFile(file_path, engine='openpyxl')

# Print the sheet names
print("Available sheet names:", xls.sheet_names)

Available sheet names: ['2022', '2021', '2020 rev', '2019 rev']

In [95]:
import pandas as pd

# Define the path to your Excel file
file_path = 'Annual-change-in-the-number-of-residences-by-type-of-activity-and-by-canton.xlsx'

# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(file_path, sheet_name=None, skiprows=2, engine='openpyxl')

# Initialize an empty dictionary to hold cleaned DataFrames
cleaned_sheets = {}

# Loop through each sheet and apply the same cleaning process
for sheet_name, df in all_sheets.items():
    # Drop the first row (index 0) containing duplicate headers
    df = df.drop(index=0)

    # Rename columns to clean up the header names
    df.columns = [
        'Municipality', 'Dwellings', 'New Buildings', 'Conversions',
        'Demolition', 'Conversion Losses', 'Net Additional Dwellings', 'Corrections'
    ]

    # Convert 'Municipality' to string for consistency
    df['Municipality'] = df['Municipality'].astype(str)

    # Store the cleaned DataFrame in the dictionary
    cleaned_sheets[sheet_name] = df

# Display the names of the cleaned sheets and preview one of them
print("Cleaned Sheets:", cleaned_sheets.keys())
print("Preview of '2022' sheet after cleaning:")
print(cleaned_sheets['2022'].head())

Cleaned Sheets: dict_keys(['2022', '2021', '2020 rev', '2019 rev'])
Preview of '2022' sheet after cleaning:
         Municipality  Dwellings New Buildings Conversions Demolition  \
1               Total  4741917.0         46505        8581       5083
2  Lake Geneva region   950481.0          9752        1607        862
3               Waadt   432941.0          4138         818        250
4              Wallis   271303.0          2315         285         96
5              Geneva   246237.0          3299         504        516

  Conversion Losses  Net Additional Dwellings  Corrections
1              1464                   48539.0       5090.0
2               374                   10123.0       2244.0
3               296                    4410.0        413.0
4                64                    2440.0       1488.0
5                14                    3273.0        343.0

In [96]:
df_2021 = cleaned_sheets['2021']

In [97]:
df_2022 = cleaned_sheets['2022']

In [98]:
df_2020 = cleaned_sheets['2020 rev']

In [99]:
df_2019 = cleaned_sheets['2019 rev']

In [100]:
# Keep only the first 32 rows (rows 0 to 31)
df2022 = df_2022.iloc[:32, :]
df2021 = df_2021.iloc[:32, :]
df2020 = df_2020.iloc[:32, :]
df2019 = df_2019.iloc[:32, :]

In [101]:
df_2019

,Municipality,Dwellings,New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections
1,Total,4582272.0,48295,8747,4337,1631,51074.0,2296.0
2,Lake Geneva region,913246.0,9250,1545,551,190,10054.0,32.0
3,Waadt,416248.0,4733,960,292,107,5294.0,-571.0
4,Wallis,259983.0,2436,325,68,64,2629.0,430.0
5,Geneva,237015.0,2081,260,191,19,2131.0,173.0
6,Espace Mittelland,1003281.0,9205,2411,515,356,10745.0,835.0
7,Bern,573805.0,3417,1429,332,248,4266.0,524.0
8,Freiburg,154745.0,3146,373,83,46,3390.0,118.0
9,Solothurn,139410.0,1607,258,73,30,1762.0,130.0
10,Neuenburg,96316.0,691,259,11,25,914.0,0.0
11,Jura,39005.0,344,92,16,7,413.0,63.0
12,North-western Switzerland 4),582986.0,6841,1147,567,208,7213.0,34.0
13,Basel-Stadt,111606.0,875,368,194,188,861.0,94.0
14,Basel-Landschaft,142419.0,1191,192,145,4,1234.0,60.0
15,Aargau,328961.0,4775,587,228,16,5118.0,-120.0
16,Zurich,756044.0,8811,1199,934,450,8626.0,-35.0
17,Eastern Switzerland,676886.0,6627,1414,790,153,7098.0,687.0
18,Glarus,23074.0,117,54,16,7,148.0,49.0
19,Schaffhausen,42875.0,315,179,26,1,467.0,-62.0
20,Appenzell A. Rh.,29308.0,163,33,36,6,154.0,49.0
21,Appenzell I. Rh.,8106.0,45,20,12,8,45.0,1.0
22,St. Gallen,261328.0,2984,518,389,63,3050.0,538.0
23,Graubünden,175460.0,1294,322,113,47,1456.0,-1.0
24,Thurgau,136735.0,1709,288,198,21,1778.0,113.0
25,Central Switzerland,405031.0,5159,634,756,183,4854.0,36.0
26,Lucerne,201857.0,3020,380,331,110,2959.0,167.0
27,Uri,20214.0,127,8,14,3,118.0,50.0
28,Schwyz,79966.0,1058,151,200,46,963.0,-35.0
29,Obwalden,21740.0,192,34,40,7,179.0,-8.0
30,Nidwalden,21991.0,112,20,59,8,65.0,-41.0
31,Zug,59263.0,650,41,112,9,570.0,-97.0
32,Ticino,244798.0,2402,397,224,91,2484.0,707.0
33,1) The net additional dwellings completed is t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2) The results for conversions and demolitions...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,3) corrected Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,4) The results have been revised.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,State of the Database: 18.07.2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"Federal Statistical Office, Annual Building an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Information: info.bau@bfs.admin.ch,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,© FSO 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# Create a copy of the sliced dataframes to avoid the warning
df2022 = df_2022.iloc[:32, :].copy()
df2021 = df_2021.iloc[:32, :].copy()
df2020 = df_2020.iloc[:32, :].copy()
df2019 = df_2019.iloc[:32, :].copy()

# Now you can safely add the 'Year' column
df2022['Year'] = 2022
df2021['Year'] = 2021
df2020['Year'] = 2020
df2019['Year'] = 2019

In [103]:
combined_df

,Municipality,Dwellings (31.12.2022),New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
0,Total,4741917.0,46505,8581,5083,1464,48539.0,5090.0,2022
1,Lake Geneva region,950481.0,9752,1607,862,374,10123.0,2244.0,2022
2,Waadt,432941.0,4138,818,250,296,4410.0,413.0,2022
3,Wallis,271303.0,2315,285,96,64,2440.0,1488.0,2022
4,Geneva,246237.0,3299,504,516,14,3273.0,343.0,2022
...,...,...,...,...,...,...,...,...,...
123,Schwyz,79966.0,1058,151,200,46,963.0,-35.0,2019
124,Obwalden,21740.0,192,34,40,7,179.0,-8.0,2019
125,Nidwalden,21991.0,112,20,59,8,65.0,-41.0,2019
126,Zug,59263.0,650,41,112,9,570.0,-97.0,2019
127,Ticino,244798.0,2402,397,224,91,2484.0,707.0,2019

In [106]:
# Check the original DataFrames
print(df2019.head())  # Make sure df2019 has the correct values and is not empty.

# Re-combine the DataFrames if necessary
combined_df = pd.concat([df2022, df2021, df2020, df2019], axis=0)
combined_df.reset_index(drop=True, inplace=True)

# Reapply the filter
total = combined_df[combined_df['Municipality'] == 'Total']
total

         Municipality  Dwellings New Buildings Conversions Demolition  \
1              Total   4582272.0         48295        8747       4337
2  Lake Geneva region   913246.0          9250        1545        551
3               Waadt   416248.0          4733         960        292
4              Wallis   259983.0          2436         325         68
5              Geneva   237015.0          2081         260        191

  Conversion Losses  Net Additional Dwellings  Corrections  Year
1              1631                   51074.0       2296.0  2019
2               190                   10054.0         32.0  2019
3               107                    5294.0       -571.0  2019
4                64                    2629.0        430.0  2019
5                19                    2131.0        173.0  2019

,Municipality,Dwellings,New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
0,Total,4741917.0,46505,8581,5083,1464,48539.0,5090.0,2022
32,Total,4688288.0,45307,8639,5813,1613,46520.0,4594.0,2021
64,Total,4637174.0,49314,8447,4741,1444,51576.0,3326.0,2020

In [76]:
combined_df['Municipality'].unique()

array(['Total', 'Lake Geneva region', 'Waadt', 'Wallis', 'Geneva',
       'Espace Mittelland', 'Bern', 'Freiburg', 'Solothurn', 'Neuenburg',
       'Jura', 'North-western Switzerland', 'Basel-Stadt',
       'Basel-Landschaft', 'Aargau', 'Zurich', 'Eastern Switzerland',
       'Glarus', 'Schaffhausen', 'Appenzell A. Rh.', 'Appenzell I. Rh.',
       'St. Gallen', 'Graubünden', 'Thurgau', 'Central Switzerland',
       'Lucerne', 'Uri', 'Schwyz', 'Obwalden', 'Nidwalden', 'Zug',
       'Ticino', 'Total ', 'North-western Switzerland 4)'], dtype=object)

In [78]:
# Filter the DataFrame to only include rows where Municipality is "Total"
total = combined_df.loc[combined_df['Municipality'] == 'Total'].copy()

# Display the new DataFrame
total

,Municipality,Dwellings (31.12.2022),New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
0,Total,4741917.0,46505,8581,5083,1464,48539.0,5090.0,2022
32,Total,4688288.0,45307,8639,5813,1613,46520.0,4594.0,2021
64,Total,4637174.0,49314,8447,4741,1444,51576.0,3326.0,2020

In [82]:
combined_df[combined_df['Municipality'] == 'Total']

,Municipality,Dwellings (31.12.2022),New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
0,Total,4741917.0,46505,8581,5083,1464,48539.0,5090.0,2022
32,Total,4688288.0,45307,8639,5813,1613,46520.0,4594.0,2021
64,Total,4637174.0,49314,8447,4741,1444,51576.0,3326.0,2020

In [108]:
row_2019 = combined_df.loc[combined_df.index == 96]

In [109]:
row_2019

,Municipality,Dwellings,New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
96,Total,4582272.0,48295,8747,4337,1631,51074.0,2296.0,2019

In [110]:
total = pd.concat([total, row_2019], ignore_index=True)

In [111]:
total

,Municipality,Dwellings,New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
0,Total,4741917.0,46505,8581,5083,1464,48539.0,5090.0,2022
1,Total,4688288.0,45307,8639,5813,1613,46520.0,4594.0,2021
2,Total,4637174.0,49314,8447,4741,1444,51576.0,3326.0,2020
3,Total,4582272.0,48295,8747,4337,1631,51074.0,2296.0,2019

In [115]:
total.sort_values(by='Year', ascending=True, inplace=True)
total

,Municipality,Dwellings,New Buildings,Conversions,Demolition,Conversion Losses,Net Additional Dwellings,Corrections,Year
3,Total,4582272.0,48295,8747,4337,1631,51074.0,2296.0,2019
2,Total,4637174.0,49314,8447,4741,1444,51576.0,3326.0,2020
1,Total,4688288.0,45307,8639,5813,1613,46520.0,4594.0,2021
0,Total,4741917.0,46505,8581,5083,1464,48539.0,5090.0,2022

In [116]:
# Export the `total` DataFrame as a CSV file
total.to_csv('residence_change_19-22.csv', index=False)