In [2]:
import pandas as pd
import numpy as np

In [3]:
pit22 = pd.read_csv('pit22.csv')

In [5]:
bat22 = pd.read_csv('bat22.csv')

In [8]:
bat22.head()

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,Arizona Diamondbacks,57,26.5,4.33,162,6027,5351,702,1232,262,...,0.385,0.689,95,2061,97,60,31,50,14,1039
1,Atlanta Braves,53,27.5,4.87,162,6082,5509,789,1394,298,...,0.443,0.761,108,2443,103,66,1,36,13,1030
2,Baltimore Orioles,58,27.0,4.16,162,6049,5429,674,1281,275,...,0.390,0.695,98,2119,95,83,12,43,10,1095
3,Boston Red Sox,54,28.8,4.54,162,6144,5539,735,1427,352,...,0.409,0.731,100,2268,131,63,12,50,23,1133
4,Chicago Cubs,64,27.9,4.06,162,6072,5425,657,1293,265,...,0.387,0.698,95,2097,130,84,19,36,16,1100

In [9]:
bat22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      31 non-null     object
 1   #Bat    32 non-null     int64
 2   BatAge  32 non-null     float64
 3   R/G     32 non-null     float64
 4   G       32 non-null     int64
 5   PA      32 non-null     int64
 6   AB      32 non-null     int64
 7   R       32 non-null     int64
 8   H       32 non-null     int64
 9   2B      32 non-null     int64
 10  3B      32 non-null     int64
 11  HR      32 non-null     int64
 12  RBI     32 non-null     int64
 13  SB      32 non-null     int64
 14  CS      32 non-null     int64
 15  BB      32 non-null     int64
 16  SO      32 non-null     int64
 17  BA      32 non-null     float64
 18  OBP     32 non-null     float64
 19  SLG     32 non-null     float64
 20  OPS     32 non-null     float64
 21  OPS+    32 non-null     int64
 22  TB      32 non-null     int64
 23  GDP     32 non-null     int64
 24  HBP     32 non-null     int64
 25  SH      32 non-null     int64
 26  SF      32 non-null     int64
 27  IBB     32 non-null     int64
 28  LOB     32 non-null     int64
dtypes: float64(6), int64(22), object(1)
memory usage: 7.4+ KB

In [10]:
bat22.describe()

,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,...,32.000000,32.000000,32.000000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.00000
mean,100.875000,28.200000,4.283750,308.812500,11567.875000,10386.843750,1322.750000,2521.000000,504.531250,40.843750,...,0.394719,0.706063,99.937500,4101.375000,215.84375,130.000000,24.781250,77.781250,30.187500,2072.15625
std,254.480971,1.114132,0.429056,830.496915,31109.938613,27933.663231,3557.974641,6780.281691,1357.156206,110.148905,...,0.024441,0.035554,9.645114,11030.913397,580.70825,349.956126,67.006372,209.274744,81.551265,5572.92850
min,43.000000,25.900000,3.440000,162.000000,5863.000000,5314.000000,557.000000,1147.000000,219.000000,8.000000,...,0.346000,0.626000,82.000000,1837.000000,82.00000,47.000000,1.000000,25.000000,6.000000,969.00000
25%,51.000000,27.400000,4.045000,162.000000,6009.500000,5405.500000,654.750000,1264.750000,247.750000,17.000000,...,0.381500,0.687750,94.500000,2063.250000,100.00000,57.750000,8.750000,36.000000,10.750000,1048.75000
50%,55.000000,28.200000,4.305000,162.000000,6079.500000,5435.500000,698.000000,1319.500000,265.000000,20.000000,...,0.390000,0.702000,99.500000,2139.000000,116.50000,64.000000,12.000000,41.500000,14.000000,1097.00000
75%,61.000000,29.100000,4.542500,162.000000,6147.500000,5499.250000,739.500000,1397.500000,281.000000,29.000000,...,0.409750,0.733000,106.500000,2274.250000,127.00000,80.250000,19.250000,45.250000,22.250000,1126.75000
max,1495.000000,30.200000,5.230000,4860.000000,182052.000000,163465.000000,20817.000000,39675.000000,7940.000000,643.000000,...,0.443000,0.775000,118.000000,64546.000000,3397.00000,2046.000000,390.000000,1224.000000,475.000000,32611.00000

In [11]:
bat22.columns

Index(['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+',
       'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB'],
      dtype='object')

In [12]:
bat22 = bat22.drop(columns=['SB', 'CS', 'OPS+', 'GDP', 'IBB', 'LOB'])

In [15]:
bat22 = bat22.drop(columns=['#Bat'])

In [17]:
bat22 = bat22.drop(columns=['SH'])

In [22]:
bat22 = bat22.drop(columns=['BatAge'])

In [21]:
bat22 = bat22[:-2]

In [23]:
bat22

,Tm,R/G,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Arizona Diamondbacks,4.33,162,6027,5351,702,1232,262,24,173,658,531,1341,0.230,0.304,0.385,0.689,2061,60,50
1,Atlanta Braves,4.87,162,6082,5509,789,1394,298,11,243,753,470,1498,0.253,0.317,0.443,0.761,2443,66,36
2,Baltimore Orioles,4.16,162,6049,5429,674,1281,275,25,171,639,476,1390,0.236,0.305,0.390,0.695,2119,83,43
3,Boston Red Sox,4.54,162,6144,5539,735,1427,352,12,155,704,478,1373,0.258,0.321,0.409,0.731,2268,63,50
4,Chicago Cubs,4.06,162,6072,5425,657,1293,265,31,159,620,507,1448,0.238,0.311,0.387,0.698,2097,84,36
5,Chicago White Sox,4.23,162,6123,5611,686,1435,272,9,149,654,388,1269,0.256,0.310,0.387,0.698,2172,73,35
6,Cincinnati Reds,4.00,162,5978,5380,648,1264,235,18,156,618,452,1430,0.235,0.304,0.372,0.676,2003,92,33
7,Cleveland Guardians,4.31,162,6163,5558,698,1410,273,31,127,662,450,1122,0.254,0.316,0.383,0.699,2126,81,52
8,Colorado Rockies,4.31,162,6105,5540,698,1408,280,34,149,669,453,1330,0.254,0.315,0.398,0.713,2203,61,40
9,Detroit Tigers,3.44,162,5870,5378,557,1240,235,27,110,530,380,1413,0.231,0.286,0.346,0.632,1859,58,44
10,Houston Astros,4.55,162,6054,5409,737,1341,284,13,214,715,528,1179,0.248,0.319,0.424,0.743,2293,60,42
11,Kansas City Royals,3.95,162,6010,5437,640,1327,247,38,138,613,460,1287,0.244,0.306,0.380,0.686,2064,48,44
12,Los Angeles Angels,3.85,162,5977,5423,623,1265,219,31,190,600,449,1539,0.233,0.297,0.390,0.687,2116,54,25
13,Los Angeles Dodgers,5.23,162,6247,5526,847,1418,325,31,212,812,607,1374,0.257,0.333,0.442,0.775,2441,56,53
14,Miami Marlins,3.62,162,5949,5395,586,1241,248,20,144,554,436,1429,0.230,0.294,0.363,0.658,1961,70,36
15,Milwaukee Brewers,4.48,162,6122,5417,725,1271,251,17,219,703,577,1464,0.235,0.315,0.409,0.724,2213,80,37
16,Minnesota Twins,4.30,162,6113,5476,696,1356,269,18,178,668,518,1353,0.248,0.317,0.401,0.718,2195,62,46
17,New York Mets,4.77,162,6176,5489,772,1422,272,27,171,735,510,1217,0.259,0.332,0.412,0.744,2261,112,44
18,New York Yankees,4.98,162,6172,5422,807,1308,225,8,254,764,620,1391,0.241,0.325,0.426,0.751,2311,70,41
19,Oakland Athletics,3.51,162,5863,5314,568,1147,249,15,137,537,433,1389,0.216,0.281,0.346,0.626,1837,59,33
20,Philadelphia Phillies,4.61,162,6077,5496,747,1392,255,29,205,719,478,1363,0.253,0.317,0.422,0.739,2320,52,44
21,Pittsburgh Pirates,3.65,162,5912,5331,591,1186,221,29,158,555,476,1497,0.222,0.291,0.364,0.655,1939,54,32
22,San Diego Padres,4.35,162,6175,5468,705,1317,275,18,153,682,574,1327,0.241,0.318,0.382,0.700,2087,65,46
23,Seattle Mariners,4.26,162,6117,5375,690,1236,229,19,197,663,596,1397,0.230,0.315,0.390,0.704,2094,89,45
24,San Francisco Giants,4.42,162,6117,5392,716,1261,255,18,183,683,571,1462,0.234,0.315,0.390,0.705,2101,95,53
25,St. Louis Cardinals,4.77,162,6165,5496,772,1386,290,21,197,739,537,1226,0.252,0.325,0.420,0.745,2309,80,45
26,Tampa Bay Rays,4.11,162,6008,5412,666,1294,296,17,139,634,500,1395,0.239,0.309,0.377,0.686,2041,57,31
27,Texas Rangers,4.36,162,6029,5478,707,1308,224,20,198,670,456,1446,0.239,0.301,0.395,0.696,2166,47,38
28,Toronto Blue Jays,4.78,162,6158,5555,775,1464,307,12,200,756,500,1242,0.264,0.329,0.431,0.760,2395,55,33
29,Washington Nationals,3.72,162,5998,5434,603,1351,252,20,136,579,442,1221,0.249,0.310,0.377,0.688,2051,60,37

In [25]:
pit22.head()

,Tm,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB
0,Arizona Diamondbacks,33,30.0,4.57,74,88,0.457,4.25,162,162,...,6065,95,4.33,1.293,8.5,1.2,3.2,7.7,2.41,1051
1,Atlanta Braves,32,30.0,3.76,101,61,0.623,3.46,162,162,...,6031,121,3.46,1.191,7.6,0.9,3.1,9.7,3.11,1101
2,Baltimore Orioles,36,27.7,4.25,83,79,0.512,3.97,162,162,...,6058,100,4.03,1.290,8.8,1.1,2.8,7.6,2.74,1092
3,Boston Red Sox,33,30.2,4.86,78,84,0.481,4.53,162,162,...,6167,94,4.17,1.354,8.9,1.2,3.3,8.5,2.56,1109
4,Chicago Cubs,43,29.5,4.51,74,88,0.457,4.00,162,162,...,6162,104,4.33,1.304,8.4,1.3,3.4,8.6,2.56,1130

In [27]:
pit22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      31 non-null     object
 1   #P      32 non-null     int64
 2   PAge    32 non-null     float64
 3   RA/G    32 non-null     float64
 4   W       32 non-null     int64
 5   L       32 non-null     int64
 6   W-L%    32 non-null     float64
 7   ERA     32 non-null     float64
 8   G       32 non-null     int64
 9   GS      32 non-null     int64
 10  GF      32 non-null     int64
 11  CG      32 non-null     int64
 12  tSho    32 non-null     int64
 13  cSho    32 non-null     int64
 14  SV      32 non-null     int64
 15  IP      32 non-null     float64
 16  H       32 non-null     int64
 17  R       32 non-null     int64
 18  ER      32 non-null     int64
 19  HR      32 non-null     int64
 20  BB      32 non-null     int64
 21  IBB     32 non-null     int64
 22  SO      32 non-null     int64
 23  HBP     32 non-null     int64
 24  BK      32 non-null     int64
 25  WP      32 non-null     int64
 26  BF      32 non-null     int64
 27  ERA+    32 non-null     int64
 28  FIP     32 non-null     float64
 29  WHIP    32 non-null     float64
 30  H9      32 non-null     float64
 31  HR9     32 non-null     float64
 32  BB9     32 non-null     float64
 33  SO9     32 non-null     float64
 34  SO/W    32 non-null     float64
 35  LOB     32 non-null     int64
dtypes: float64(12), int64(23), object(1)
memory usage: 9.1+ KB

In [29]:
pit22 = pit22.drop(columns=['W-L%', 'GF', 'GS', 'BK', 'ERA+', 'LOB', 'tSho', 'CG', 'PAge', '#P', 'SO/W'])

In [32]:
pit22.head()

,Tm,RA/G,W,L,ERA,G,cSho,SV,IP,H,...,SO,HBP,WP,BF,FIP,WHIP,H9,HR9,BB9,SO9
0,Arizona Diamondbacks,4.57,74,88,4.25,162,0,33,1430.0,1345,...,1216,59,51,6065,4.33,1.293,8.5,1.2,3.2,7.7
1,Atlanta Braves,3.76,101,61,3.46,162,1,55,1448.0,1224,...,1554,62,55,6031,3.46,1.191,7.6,0.9,3.1,9.7
2,Baltimore Orioles,4.25,83,79,3.97,162,1,46,1433.1,1406,...,1214,64,47,6058,4.03,1.290,8.8,1.1,2.8,7.6
3,Boston Red Sox,4.86,78,84,4.53,162,2,39,1431.0,1411,...,1346,72,60,6167,4.17,1.354,8.9,1.2,3.3,8.5
4,Chicago Cubs,4.51,74,88,4.00,162,0,44,1443.2,1342,...,1383,73,53,6162,4.33,1.304,8.4,1.3,3.4,8.6

In [33]:
pit22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      31 non-null     object
 1   RA/G    32 non-null     float64
 2   W       32 non-null     int64
 3   L       32 non-null     int64
 4   ERA     32 non-null     float64
 5   G       32 non-null     int64
 6   cSho    32 non-null     int64
 7   SV      32 non-null     int64
 8   IP      32 non-null     float64
 9   H       32 non-null     int64
 10  R       32 non-null     int64
 11  ER      32 non-null     int64
 12  HR      32 non-null     int64
 13  BB      32 non-null     int64
 14  IBB     32 non-null     int64
 15  SO      32 non-null     int64
 16  HBP     32 non-null     int64
 17  WP      32 non-null     int64
 18  BF      32 non-null     int64
 19  FIP     32 non-null     float64
 20  WHIP    32 non-null     float64
 21  H9      32 non-null     float64
 22  HR9     32 non-null     float64
 23  BB9     32 non-null     float64
 24  SO9     32 non-null     float64
dtypes: float64(9), int64(15), object(1)
memory usage: 6.4+ KB

In [34]:
pit22 = pit22.drop(columns=['cSho', 'SV', 'IBB', 'HBP', 'RA/G'])

In [48]:
pit22 = pit22[:-2]

In [49]:
bat22.head()

,Tm,R/G,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Arizona Diamondbacks,4.33,162,6027,5351,702,1232,262,24,173,658,531,1341,0.230,0.304,0.385,0.689,2061,60,50
1,Atlanta Braves,4.87,162,6082,5509,789,1394,298,11,243,753,470,1498,0.253,0.317,0.443,0.761,2443,66,36
2,Baltimore Orioles,4.16,162,6049,5429,674,1281,275,25,171,639,476,1390,0.236,0.305,0.390,0.695,2119,83,43
3,Boston Red Sox,4.54,162,6144,5539,735,1427,352,12,155,704,478,1373,0.258,0.321,0.409,0.731,2268,63,50
4,Chicago Cubs,4.06,162,6072,5425,657,1293,265,31,159,620,507,1448,0.238,0.311,0.387,0.698,2097,84,36

In [50]:
pit22.head()

,Tm,W,L,ERA,G,IP,H,R,ER,HR,BB,SO,WP,BF,FIP,WHIP,H9,HR9,BB9,SO9
0,Arizona Diamondbacks,74,88,4.25,162,1430.0,1345,740,676,191,504,1216,51,6065,4.33,1.293,8.5,1.2,3.2,7.7
1,Atlanta Braves,101,61,3.46,162,1448.0,1224,609,556,148,500,1554,55,6031,3.46,1.191,7.6,0.9,3.1,9.7
2,Baltimore Orioles,83,79,3.97,162,1433.1,1406,688,632,171,443,1214,47,6058,4.03,1.290,8.8,1.1,2.8,7.6
3,Boston Red Sox,78,84,4.53,162,1431.0,1411,787,721,185,526,1346,60,6167,4.17,1.354,8.9,1.2,3.3,8.5
4,Chicago Cubs,74,88,4.00,162,1443.2,1342,731,642,207,540,1383,53,6162,4.33,1.304,8.4,1.3,3.4,8.6

In [37]:
bat21 = pd.read_csv('bat21.csv')

In [38]:
pit21 = pd.read_csv('pit21.csv')

In [39]:
bat21.head()

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,Arizona Diamondbacks,64,28.9,4.19,162,6144,5489,679,1297,308,...,0.382,0.692,87,2099,99,54,32,28,24,1152
1,Atlanta Braves,56,28.2,4.91,161,6056,5363,790,1307,269,...,0.435,0.754,98,2333,81,67,32,43,36,1072
2,Baltimore Orioles,62,26.7,4.07,162,5983,5420,659,1296,266,...,0.402,0.705,92,2177,105,65,14,31,12,1046
3,Boston Red Sox,56,28.0,5.12,162,6122,5495,829,1434,330,...,0.449,0.777,106,2467,100,61,10,42,22,1093
4,Chicago Cubs,69,29.1,4.35,162,5972,5306,705,1255,225,...,0.407,0.719,93,2162,133,92,40,30,17,1019

In [40]:
pit21.head()

,Tm,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB
0,Arizona Diamondbacks,41,28.5,5.51,52,110,0.321,5.11,162,162,...,6270,83,4.88,1.436,9.4,1.5,3.5,7.9,2.23,1146
1,Atlanta Braves,30,29.5,4.07,88,73,0.547,3.88,161,161,...,5944,112,4.09,1.243,7.9,1.2,3.3,9.0,2.75,1074
2,Baltimore Orioles,42,28.1,5.90,52,110,0.321,5.84,162,162,...,6252,77,5.15,1.484,9.7,1.7,3.6,7.9,2.19,1103
3,Boston Red Sox,37,29.7,4.62,92,70,0.568,4.26,162,162,...,6147,110,3.95,1.378,8.9,1.1,3.5,9.7,2.80,1163
4,Chicago Cubs,40,29.4,5.18,71,91,0.438,4.87,162,162,...,6202,87,4.88,1.403,8.8,1.5,3.8,8.7,2.28,1143

In [41]:
bat21 = bat21.drop(columns=['SB', 'CS', 'OPS+', 'GDP', 'IBB', 'LOB', '#Bat', 'SH', 'BatAge'])
bat21.head()

,Tm,R/G,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Arizona Diamondbacks,4.19,162,6144,5489,679,1297,308,31,144,644,537,1465,0.236,0.309,0.382,0.692,2099,54,28
1,Atlanta Braves,4.91,161,6056,5363,790,1307,269,20,239,762,549,1453,0.244,0.319,0.435,0.754,2333,67,43
2,Baltimore Orioles,4.07,162,5983,5420,659,1296,266,15,195,632,451,1454,0.239,0.304,0.402,0.705,2177,65,31
3,Boston Red Sox,5.12,162,6122,5495,829,1434,330,23,219,783,512,1386,0.261,0.328,0.449,0.777,2467,61,42
4,Chicago Cubs,4.35,162,5972,5306,705,1255,225,26,210,672,502,1596,0.237,0.312,0.407,0.719,2162,92,30

In [44]:
bat21 = bat21[:-2]

In [51]:
pit21 = pit21.drop(columns=['W-L%', 'GF', 'GS', 'BK', 'ERA+', 'LOB', 'tSho', 'CG', 'PAge', 
                            '#P', 'SO/W', 'cSho', 'SV', 'IBB', 'HBP', 'RA/G'])

In [54]:
pit21 = pit21[:-2]

In [55]:
pit21.head()

,Tm,W,L,ERA,G,IP,H,R,ER,HR,BB,SO,WP,BF,FIP,WHIP,H9,HR9,BB9,SO9
0,Arizona Diamondbacks,52,110,5.11,162,1417.1,1480,893,804,232,555,1238,43,6270,4.88,1.436,9.4,1.5,3.5,7.9
1,Atlanta Braves,88,73,3.88,161,1410.2,1237,656,608,183,516,1417,73,5944,4.09,1.243,7.9,1.2,3.3,9.0
2,Baltimore Orioles,52,110,5.84,162,1402.0,1518,956,910,258,563,1234,88,6252,5.15,1.484,9.7,1.7,3.6,7.9
3,Boston Red Sox,92,70,4.26,162,1419.0,1409,749,671,176,546,1527,63,6147,3.95,1.378,8.9,1.1,3.5,9.7
4,Chicago Cubs,71,91,4.87,162,1412.2,1386,839,765,235,596,1358,60,6202,4.88,1.403,8.8,1.5,3.8,8.7

In [56]:
bat21.head()

,Tm,R/G,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Arizona Diamondbacks,4.19,162,6144,5489,679,1297,308,31,144,644,537,1465,0.236,0.309,0.382,0.692,2099,54,28
1,Atlanta Braves,4.91,161,6056,5363,790,1307,269,20,239,762,549,1453,0.244,0.319,0.435,0.754,2333,67,43
2,Baltimore Orioles,4.07,162,5983,5420,659,1296,266,15,195,632,451,1454,0.239,0.304,0.402,0.705,2177,65,31
3,Boston Red Sox,5.12,162,6122,5495,829,1434,330,23,219,783,512,1386,0.261,0.328,0.449,0.777,2467,61,42
4,Chicago Cubs,4.35,162,5972,5306,705,1255,225,26,210,672,502,1596,0.237,0.312,0.407,0.719,2162,92,30

In [57]:
pit19 = pd.read_csv('pit19.csv')
bat19 = pd.read_csv('bat19.csv')

In [58]:
bat19 = bat19.drop(columns=['SB', 'CS', 'OPS+', 'GDP', 'IBB', 'LOB', '#Bat', 'SH', 'BatAge'])

,Tm,R/G,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,TB,HBP,SF
0,Arizona Diamondbacks,5.02,162,6315,5633,813,1419,288,40,220,778,540,1360,0.252,0.323,0.434,0.757,2447,70,40
1,Atlanta Braves,5.28,162,6302,5560,855,1432,277,29,249,824,619,1467,0.258,0.336,0.452,0.789,2514,60,35
2,Baltimore Orioles,4.50,162,6189,5596,729,1379,252,25,213,698,462,1435,0.246,0.310,0.415,0.725,2320,71,37
3,Boston Red Sox,5.56,162,6475,5770,901,1554,345,27,245,857,590,1382,0.269,0.340,0.466,0.806,2688,49,44
4,Chicago Cubs,5.02,162,6195,5461,814,1378,270,26,256,783,581,1460,0.252,0.331,0.452,0.783,2468,83,39
5,Chicago White Sox,4.40,161,6042,5529,708,1443,260,20,182,676,378,1549,0.261,0.314,0.414,0.728,2289,66,32
6,Cincinnati Reds,4.33,162,6100,5450,701,1328,235,27,227,679,492,1436,0.244,0.315,0.422,0.736,2298,89,33
7,Cleveland Indians,4.75,162,6124,5425,769,1354,286,18,223,731,563,1332,0.250,0.323,0.432,0.756,2345,50,46
8,Colorado Rockies,5.15,162,6288,5660,835,1502,323,41,224,803,489,1503,0.265,0.326,0.456,0.782,2579,43,43
9,Detroit Tigers,3.61,161,6039,5549,582,1333,292,41,149,556,391,1595,0.240,0.294,0.388,0.682,2154,48,42
10,Houston Astros,5.68,162,6394,5613,920,1538,323,28,288,891,645,1166,0.274,0.352,0.495,0.848,2781,66,57
11,Kansas City Royals,4.27,162,6080,5496,691,1356,281,40,162,655,456,1405,0.247,0.309,0.401,0.710,2203,59,42
12,Los Angeles Angels,4.75,162,6251,5542,769,1368,268,21,220,734,586,1276,0.247,0.324,0.422,0.746,2338,67,42
13,Los Angeles Dodgers,5.47,162,6282,5493,886,1414,302,20,279,861,607,1356,0.257,0.338,0.472,0.810,2593,81,45
14,Miami Marlins,3.80,162,6045,5512,615,1326,265,18,146,593,395,1469,0.241,0.298,0.375,0.673,2065,73,33
15,Milwaukee Brewers,4.75,162,6309,5542,769,1366,279,17,250,744,629,1563,0.246,0.329,0.438,0.767,2429,72,38
16,Minnesota Twins,5.80,162,6392,5732,939,1547,318,23,307,906,525,1334,0.270,0.338,0.494,0.832,2832,81,41
17,New York Mets,4.88,162,6290,5624,791,1445,280,17,242,767,516,1384,0.257,0.328,0.442,0.770,2485,95,27
18,New York Yankees,5.82,162,6245,5583,943,1493,290,17,306,904,569,1437,0.267,0.339,0.490,0.829,2735,49,33
19,Oakland Athletics,5.22,162,6269,5561,845,1384,292,23,257,800,578,1338,0.249,0.327,0.448,0.776,2493,87,36
20,Philadelphia Phillies,4.78,162,6261,5571,774,1369,311,26,215,742,562,1453,0.246,0.319,0.427,0.746,2377,57,34
21,Pittsburgh Pirates,4.68,162,6228,5657,758,1497,315,38,163,722,425,1213,0.265,0.321,0.420,0.741,2377,63,34
22,San Diego Padres,4.21,162,6019,5391,682,1281,224,24,219,652,504,1581,0.238,0.308,0.410,0.718,2210,55,31
23,Seattle Mariners,4.68,162,6199,5500,758,1305,254,28,239,730,588,1581,0.237,0.316,0.424,0.740,2332,58,37
24,San Francisco Giants,4.19,162,6170,5579,678,1332,300,26,167,655,475,1435,0.239,0.302,0.392,0.694,2185,50,42
25,St. Louis Cardinals,4.72,162,6167,5449,764,1336,246,24,210,714,561,1420,0.245,0.322,0.415,0.737,2260,76,39
26,Tampa Bay Rays,4.75,162,6285,5628,769,1427,291,29,217,730,542,1493,0.254,0.325,0.431,0.757,2427,73,34
27,Texas Rangers,5.00,162,6204,5540,810,1374,296,24,223,765,534,1578,0.248,0.319,0.431,0.750,2387,67,44
28,Toronto Blue Jays,4.48,162,6091,5493,726,1299,270,21,247,697,509,1514,0.236,0.305,0.428,0.733,2352,45,28
29,Washington Nationals,5.39,162,6267,5512,873,1460,298,27,231,824,584,1308,0.265,0.342,0.454,0.796,2505,81,42
30,League Average,4.83,162,6217,5555,782,1401,284,26,226,749,530,1427,0.252,0.323,0.435,0.758,2416,66,38
31,NaN,4.83,4858,186517,166651,23467,42039,8531,785,6776,22471,15895,42823,0.252,0.323,0.435,0.758,72468,1984,1150

In [60]:
bat19 = bat19[:-2]

In [61]:
pit19 = pit19.drop(columns=['W-L%', 'GF', 'GS', 'BK', 'ERA+', 'LOB', 'tSho', 'CG', 'PAge', 
                            '#P', 'SO/W', 'cSho', 'SV', 'IBB', 'HBP', 'RA/G'])

In [63]:
pit19 = pit19[:-2]

In [64]:
pit18 = pd.read_csv('pit18.csv')
bat18 = pd.read_csv('bat18.csv')

In [65]:
bat18 = bat18.drop(columns=['SB', 'CS', 'OPS+', 'GDP', 'IBB', 'LOB', '#Bat', 'SH', 'BatAge'])

In [67]:
bat18 = bat18[:-2]

In [68]:
pit18 = pit18.drop(columns=['W-L%', 'GF', 'GS', 'BK', 'ERA+', 'LOB', 'tSho', 'CG', 'PAge', 
                            '#P', 'SO/W', 'cSho', 'SV', 'IBB', 'HBP', 'RA/G'])

In [70]:
pit18 = pit18[:-2]

In [71]:
pit17 = pd.read_csv('pit17.csv')
bat17 = pd.read_csv('bat17.csv')

In [72]:
bat17 = bat17.drop(columns=['SB', 'CS', 'OPS+', 'GDP', 'IBB', 'LOB', '#Bat', 'SH', 'BatAge'])

In [73]:
bat17 = bat17[:-2]

In [74]:
pit17 = pit17.drop(columns=['W-L%', 'GF', 'GS', 'BK', 'ERA+', 'LOB', 'tSho', 'CG', 'PAge', 
                            '#P', 'SO/W', 'cSho', 'SV', 'IBB', 'HBP', 'RA/G'])

In [75]:
pit17 = pit17[:-2]

In [77]:
pit17['year'] = 2017

In [79]:
bat17['year'] = 2017

In [80]:
pit18['year'] = 2018

In [81]:
bat18['year'] = 2018

In [82]:
bat19['year'] = 2019

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_82885/2844491877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat19['year'] = 2019

In [84]:
pit19['year'] = 2019

In [85]:
bat21['year'] = 2021

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_82885/1116338348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat21['year'] = 2021

In [87]:
pit21['year'] = 2021

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_82885/396092198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pit21['year'] = 2021

In [88]:
bat22['year'] = 2022

In [90]:
pit22['year'] = 2022

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_82885/2702576890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pit22['year'] = 2022

In [92]:
pit22

,Tm,W,L,ERA,G,IP,H,R,ER,HR,...,SO,WP,BF,FIP,WHIP,H9,HR9,BB9,SO9,year
0,Arizona Diamondbacks,74,88,4.25,162,1430.0,1345,740,676,191,...,1216,51,6065,4.33,1.293,8.5,1.2,3.2,7.7,2022
1,Atlanta Braves,101,61,3.46,162,1448.0,1224,609,556,148,...,1554,55,6031,3.46,1.191,7.6,0.9,3.1,9.7,2022
2,Baltimore Orioles,83,79,3.97,162,1433.1,1406,688,632,171,...,1214,47,6058,4.03,1.290,8.8,1.1,2.8,7.6,2022
3,Boston Red Sox,78,84,4.53,162,1431.0,1411,787,721,185,...,1346,60,6167,4.17,1.354,8.9,1.2,3.3,8.5,2022
4,Chicago Cubs,74,88,4.00,162,1443.2,1342,731,642,207,...,1383,53,6162,4.33,1.304,8.4,1.3,3.4,8.6,2022
5,Chicago White Sox,81,81,3.92,162,1447.2,1330,717,631,166,...,1450,64,6145,3.81,1.287,8.3,1.0,3.3,9.0,2022
6,Cincinnati Reds,62,100,4.86,162,1423.1,1366,815,768,213,...,1414,58,6220,4.59,1.390,8.6,1.3,3.9,8.9,2022
7,Cleveland Guardians,92,70,3.46,162,1456.0,1252,634,560,172,...,1390,49,5989,3.75,1.159,7.7,1.1,2.7,8.6,2022
8,Colorado Rockies,68,94,5.06,162,1425.1,1516,873,802,184,...,1187,65,6240,4.38,1.442,9.6,1.2,3.4,7.5,2022
9,Detroit Tigers,66,96,4.04,162,1419.2,1336,713,637,167,...,1195,59,6047,4.16,1.301,8.5,1.1,3.2,7.6,2022
10,Houston Astros,106,56,2.90,162,1445.1,1121,518,465,134,...,1524,56,5856,3.28,1.092,7.0,0.8,2.9,9.5,2022
11,Kansas City Royals,65,97,4.70,162,1416.0,1493,810,740,173,...,1191,88,6249,4.42,1.470,9.5,1.1,3.7,7.6,2022
12,Los Angeles Angels,73,89,3.77,162,1435.2,1241,668,601,168,...,1383,64,6038,3.96,1.241,7.8,1.1,3.4,8.7,2022
13,Los Angeles Dodgers,111,51,2.80,162,1451.1,1114,513,451,152,...,1465,38,5865,3.45,1.048,6.9,0.9,2.5,9.1,2022
14,Miami Marlins,69,93,3.86,162,1437.1,1311,676,617,173,...,1437,54,6056,3.90,1.268,8.2,1.1,3.2,9.0,2022
15,Milwaukee Brewers,86,76,3.83,162,1446.0,1238,688,615,190,...,1530,47,6057,3.92,1.216,7.7,1.2,3.2,9.5,2022
16,Minnesota Twins,78,84,3.98,162,1437.0,1320,684,636,184,...,1336,50,6042,4.03,1.244,8.3,1.2,2.9,8.4,2022
17,New York Mets,101,61,3.57,162,1438.2,1274,606,570,169,...,1565,35,5950,3.50,1.183,8.0,1.1,2.7,9.8,2022
18,New York Yankees,99,63,3.30,162,1451.2,1177,567,532,157,...,1459,40,5938,3.56,1.117,7.3,1.0,2.8,9.0,2022
19,Oakland Athletics,60,102,4.52,162,1426.1,1394,770,717,195,...,1203,62,6121,4.41,1.330,8.8,1.2,3.2,7.6,2022
20,Philadelphia Phillies,87,75,3.97,162,1428.1,1330,685,630,150,...,1423,47,6006,3.60,1.255,8.4,0.9,2.9,9.0,2022
21,Pittsburgh Pirates,62,100,4.66,162,1421.0,1432,817,735,164,...,1250,62,6263,4.27,1.420,9.1,1.0,3.7,7.9,2022
22,San Diego Padres,89,73,3.81,162,1443.1,1263,660,611,173,...,1451,54,6047,3.82,1.199,7.9,1.1,2.9,9.0,2022
23,Seattle Mariners,90,72,3.59,162,1447.0,1277,623,577,186,...,1391,45,5986,3.90,1.191,7.9,1.2,2.8,8.7,2022
24,San Francisco Giants,81,81,3.85,162,1433.0,1397,697,613,132,...,1370,53,6070,3.43,1.283,8.8,0.8,2.8,8.6,2022
25,St. Louis Cardinals,93,69,3.79,162,1435.2,1335,637,605,146,...,1177,43,6014,3.94,1.270,8.4,0.9,3.1,7.4,2022
26,Tampa Bay Rays,86,76,3.41,162,1435.2,1260,614,544,172,...,1384,54,5930,3.68,1.145,7.9,1.1,2.4,8.7,2022
27,Texas Rangers,68,94,4.22,162,1435.0,1345,743,673,169,...,1314,66,6167,4.17,1.342,8.4,1.1,3.6,8.2,2022
28,Toronto Blue Jays,92,70,3.87,162,1441.1,1356,679,620,180,...,1390,29,6053,3.85,1.235,8.5,1.1,2.6,8.7,2022
29,Washington Nationals,55,107,5.00,162,1411.2,1469,855,785,244,...,1220,59,6220,4.98,1.436,9.4,1.6,3.6,7.8,2022

In [94]:
pitch = pd.concat([pit17, pit18, pit19, pit21, pit22], axis=0)

In [97]:
pit17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      30 non-null     object
 1   W       30 non-null     int64
 2   L       30 non-null     int64
 3   ERA     30 non-null     float64
 4   G       30 non-null     int64
 5   IP      30 non-null     float64
 6   H       30 non-null     int64
 7   R       30 non-null     int64
 8   ER      30 non-null     int64
 9   HR      30 non-null     int64
 10  BB      30 non-null     int64
 11  SO      30 non-null     int64
 12  WP      30 non-null     int64
 13  BF      30 non-null     int64
 14  FIP     30 non-null     float64
 15  WHIP    30 non-null     float64
 16  H9      30 non-null     float64
 17  HR9     30 non-null     float64
 18  BB9     30 non-null     float64
 19  SO9     30 non-null     float64
 20  year    30 non-null     int64
dtypes: float64(8), int64(12), object(1)
memory usage: 5.0+ KB

In [96]:
pitch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 29
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      150 non-null    object
 1   W       150 non-null    int64
 2   L       150 non-null    int64
 3   ERA     150 non-null    float64
 4   G       150 non-null    int64
 5   IP      150 non-null    float64
 6   H       150 non-null    int64
 7   R       150 non-null    int64
 8   ER      150 non-null    int64
 9   HR      150 non-null    int64
 10  BB      150 non-null    int64
 11  SO      150 non-null    int64
 12  WP      150 non-null    int64
 13  BF      150 non-null    int64
 14  FIP     150 non-null    float64
 15  WHIP    150 non-null    float64
 16  H9      150 non-null    float64
 17  HR9     150 non-null    float64
 18  BB9     150 non-null    float64
 19  SO9     150 non-null    float64
 20  year    150 non-null    int64
dtypes: float64(8), int64(12), object(1)
memory usage: 25.8+ KB

In [98]:
bat = pd.concat([bat17, bat18, bat19, bat21, bat22], axis=0)

In [100]:
bat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 29
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tm      150 non-null    object
 1   R/G     150 non-null    float64
 2   G       150 non-null    int64
 3   PA      150 non-null    int64
 4   AB      150 non-null    int64
 5   R       150 non-null    int64
 6   H       150 non-null    int64
 7   2B      150 non-null    int64
 8   3B      150 non-null    int64
 9   HR      150 non-null    int64
 10  RBI     150 non-null    int64
 11  BB      150 non-null    int64
 12  SO      150 non-null    int64
 13  BA      150 non-null    float64
 14  OBP     150 non-null    float64
 15  SLG     150 non-null    float64
 16  OPS     150 non-null    float64
 17  TB      150 non-null    int64
 18  HBP     150 non-null    int64
 19  SF      150 non-null    int64
 20  year    150 non-null    int64
dtypes: float64(5), int64(15), object(1)
memory usage: 25.8+ KB

In [101]:
# bat.to_csv('batting.csv', index=False)

In [102]:
# pitch.to_csv('pitch.csv', index=False)