In [1]:
import pandas as pd
import numpy as np

In [3]:
biles = pd.read_csv('biles.csv')

In [29]:
biles["Name"] = "Simone Biles"

In [30]:
carey = pd.read_csv('carey.csv')

In [31]:
blakely = pd.read_csv('blakely.csv')

In [32]:
chiles = pd.read_csv('chiles.csv')

In [33]:
dicello = pd.read_csv('dicello.csv')

In [34]:
jones = pd.read_csv('jones.csv')

In [35]:
jong= pd.read_csv('jong.csv')

In [36]:
lee = pd.read_csv('lee.csv')

In [37]:
matthews = pd.read_csv('matthews.csv')

In [38]:
miller = pd.read_csv('miller.csv')

In [39]:
roberson = pd.read_csv('roberson.csv')

In [40]:
sullivan = pd.read_csv('sullivan.csv')

In [41]:
suman = pd.read_csv('suman.csv')

In [42]:
wong = pd.read_csv('wong.csv')

In [43]:
combined_df = pd.concat([biles, carey, blakely, chiles,
                        dicello, jones, jong, lee, 
                        matthews, miller, roberson,
                        sullivan, suman, wong], ignore_index=True)

In [88]:
combined_df = combined_df.drop(columns=["Gymnast"])

KeyError: "['Gymnast'] not found in axis"

In [89]:
df = combined_df.copy()

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         326 non-null    object
 1   Competition  326 non-null    object
 2   Round        326 non-null    object
 3   VT           326 non-null    float64
 4   UB           326 non-null    float64
 5   BB           326 non-null    float64
 6   FX           326 non-null    float64
 7   AA           326 non-null    float64
 8   Name         326 non-null    object
dtypes: float64(5), object(4)
memory usage: 23.0+ KB

In [91]:
# Define a function to remove asterisk from a value
def remove_asterisk(value):
    return float(value.rstrip('*')) if isinstance(value, str) else value

# Apply the function to the 'VT' column
df['VT'] = df['VT'].apply(remove_asterisk)

In [93]:
df["VT"].value_counts()

VT
0.000     68
14.350    11
14.300    11
14.200    10
14.100    10
          ..
14.833     1
12.550     1
15.000     1
13.784     1
14.050     1
Name: count, Length: 86, dtype: int64

In [94]:
df['VT'] = pd.to_numeric(df['VT'], errors='coerce')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         326 non-null    object
 1   Competition  326 non-null    object
 2   Round        326 non-null    object
 3   VT           326 non-null    float64
 4   UB           326 non-null    float64
 5   BB           326 non-null    float64
 6   FX           326 non-null    float64
 7   AA           326 non-null    float64
 8   Name         326 non-null    object
dtypes: float64(5), object(4)
memory usage: 23.0+ KB

In [96]:
df

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.000,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.000,Simone Biles
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles
...,...,...,...,...,...,...,...,...,...
321,2022-07-29,U.S. Classic,AA,14.400,12.850,13.550,13.600,54.400,Leanne Wong
322,2023-08-24,U.S. Championships,AA,14.050,14.000,13.700,14.000,55.750,Leanne Wong
323,2023-08-24,U.S. Championships,QF,14.250,14.000,13.750,13.350,55.350,Leanne Wong
324,2023-08-04,U.S. Classic,AA,14.150,13.750,12.700,13.500,54.100,Leanne Wong
325,2023-07-09,July National Team Camp,AA,13.600,12.850,12.600,12.450,51.500,Leanne Wong

In [99]:
 aa = df[df['AA'] > 0]

In [ ]:
 apps = df[df['AA'] == 0]

In [98]:
aa

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
2,2021-07-23,Olympic Games,QF,14.966,14.566,14.066,14.133,57.731,Simone Biles
3,2021-06-24,U.S. Olympic Trials,AA,15.400,13.833,13.700,14.600,57.533,Simone Biles
4,2021-06-24,U.S. Olympic Trials,QF,15.466,14.600,15.133,15.366,60.565,Simone Biles
5,2021-06-03,U.S. Championships,AA,15.550,14.700,14.900,14.950,60.100,Simone Biles
6,2021-06-03,U.S. Championships,QF,15.800,14.750,14.350,14.650,59.550,Simone Biles
...,...,...,...,...,...,...,...,...,...
321,2022-07-29,U.S. Classic,AA,14.400,12.850,13.550,13.600,54.400,Leanne Wong
322,2023-08-24,U.S. Championships,AA,14.050,14.000,13.700,14.000,55.750,Leanne Wong
323,2023-08-24,U.S. Championships,QF,14.250,14.000,13.750,13.350,55.350,Leanne Wong
324,2023-08-04,U.S. Classic,AA,14.150,13.750,12.700,13.500,54.100,Leanne Wong
325,2023-07-09,July National Team Camp,AA,13.600,12.850,12.600,12.450,51.500,Leanne Wong

In [100]:
apps

,Date,Competition,Round,VT,UB,BB,FX,AA,Name
0,2021-07-23,Olympic Games,EF,0.000,0.000,14.000,0.000,0.0,Simone Biles
1,2021-07-23,Olympic Games,TF,13.766,0.000,0.000,0.000,0.0,Simone Biles
12,2021-07-23,Olympic Games,EF,12.416,0.000,0.000,14.366,0.0,Jade Carey
15,2021-06-24,U.S. Olympic Trials,AA,0.000,13.733,13.433,0.000,0.0,Jade Carey
19,2021-05-21,U.S. Classic,AA,0.000,13.800,12.750,0.000,0.0,Jade Carey
...,...,...,...,...,...,...,...,...,...
315,2022-10-29,World Championships,TF,0.000,13.766,0.000,0.000,0.0,Leanne Wong
316,2022-10-29,World Championships,QF,13.766,0.000,0.000,0.000,0.0,Leanne Wong
317,2022-10-21,U.S. Worlds Trials,EF,0.000,14.100,13.750,0.000,0.0,Leanne Wong
319,2022-08-18,U.S. Championships,AA,0.000,14.250,13.400,0.000,0.0,Leanne Wong
320,2022-08-18,U.S. Championships,QF,0.000,14.200,13.150,0.000,0.0,Leanne Wong

In [101]:
# df.to_csv('individuals_combined.csv', index=False)