In [1]:
import pandas as pd
import numpy as np

In [2]:
# usopc = pd.read_csv('../Cleaning/USOPC/usopc_women_october.csv')
usopc_fx = pd.read_csv('../Cleaning/USOPC/usopc_women_fx_october.csv')
usopc_bb = pd.read_csv('../Cleaning/USOPC/usopc_women_bb_october.csv')
usopc_ub = pd.read_csv('../Cleaning/USOPC/usopc_women_ub_october.csv')
usopc_vt = pd.read_csv('../Cleaning/USOPC/usopc_women_vt_october.csv')

In [3]:
wc20Baku_bb = pd.read_csv('../Cleaning/worldcup/clean_worldcup2020Baku_bb.csv')

In [4]:
usopc_bb.head()

,Name,Country,Gender,Date,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,Jana ABDELSALAM,EGY,w,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,BB,100.0,4.8,6.200,0.0,11.000
1,Jana ABDELSALAM,EGY,w,2023-03-12,2023 Baku World Cup,qual,BB,22.0,4.8,6.733,0.0,11.533
2,Jana ABDELSALAM,EGY,w,2023-04-30,2023 Cairo World Cup,final,BB,8.0,4.8,6.566,0.0,11.366
3,Jana ABDELSALAM,EGY,w,2023-04-30,2023 Cairo World Cup,qual,BB,9.0,4.7,7.466,0.0,12.166
4,Jana ABDELSALAM,EGY,w,2023-03-04,2023 Doha World Cup,final,BB,4.0,5.0,8.000,0.0,13.000

In [6]:
wc20Baku_bb.head()

,Rank,Athlete,Nation,D,E,ND,Total,year,Event
0,1,Urara Ashikawa,JPN,5.4,8.450,0.0,13.850,2020,World Cup Baku
1,2,Rebeca Andrade,BRA,5.6,8.200,0.0,13.800,2020,World Cup Baku
2,3,Anastasiia Bachynska,UKR,5.8,7.700,0.0,13.500,2020,World Cup Baku
3,4,Emma Nedov,AUS,5.4,7.766,0.0,13.166,2020,World Cup Baku
4,5,Yana Vorona,RUS,5.7,7.433,0.0,13.133,2020,World Cup Baku

In [7]:
wc20Baku_bb = wc20Baku_bb.rename(columns={'Athlete': 'Name', 'D': 'D_Score', 'E': 'E_Score',
                                         'ND': 'Penalty', 'Event': 'Competition'})

In [8]:
wc20Baku_bb.head()

,Rank,Name,Nation,D_Score,E_Score,Penalty,Total,year,Competition
0,1,Urara Ashikawa,JPN,5.4,8.450,0.0,13.850,2020,World Cup Baku
1,2,Rebeca Andrade,BRA,5.6,8.200,0.0,13.800,2020,World Cup Baku
2,3,Anastasiia Bachynska,UKR,5.8,7.700,0.0,13.500,2020,World Cup Baku
3,4,Emma Nedov,AUS,5.4,7.766,0.0,13.166,2020,World Cup Baku
4,5,Yana Vorona,RUS,5.7,7.433,0.0,13.133,2020,World Cup Baku

In [9]:
usopc_bb.head()

,Name,Country,Gender,Date,Competition,Round,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,Jana ABDELSALAM,EGY,w,2022-11-06,2022 51st FIG Artistic Gymnastics World Champi...,qual,BB,100.0,4.8,6.200,0.0,11.000
1,Jana ABDELSALAM,EGY,w,2023-03-12,2023 Baku World Cup,qual,BB,22.0,4.8,6.733,0.0,11.533
2,Jana ABDELSALAM,EGY,w,2023-04-30,2023 Cairo World Cup,final,BB,8.0,4.8,6.566,0.0,11.366
3,Jana ABDELSALAM,EGY,w,2023-04-30,2023 Cairo World Cup,qual,BB,9.0,4.7,7.466,0.0,12.166
4,Jana ABDELSALAM,EGY,w,2023-03-04,2023 Doha World Cup,final,BB,4.0,5.0,8.000,0.0,13.000

In [11]:
# Extract the year using a regular expression and create a new 'year' column
usopc_bb['year'] = usopc_bb['Competition'].str.extract(r'(\d{4})')

# Remove numbers from the 'Competition' column
usopc_bb['Competition'] = usopc_bb['Competition'].str.replace(r'\d+', '').str.strip()

In [15]:
usopc_bb["Competition"].value_counts()

Competition
2022 51st FIG Artistic Gymnastics World Championships    179
2023 Senior European Championships                       153
2022 Senior European Championships                       151
2022 British Gymnastics Championships                     73
2023 FISU World University Games                          70
BIRMINGHAM 2022 Commonwealth Games                        65
2023 Central American and Caribbean Games                 62
2023 Baku World Cup                                       54
2023 British Gymnastics Championships                     50
2023 Cottbus World Cup                                    49
2023 Cairo World Cup                                      47
EnBW DTB Pokal Team Challenge 2023                        46
2022 Baku World Cup                                       44
2023 Doha World Cup                                       43
2023 Varna World Challenge Cup                            39
2023 Osijek World Challenge Cup                           38
2022 Cairo World Cup                                      35
2022 Cottbus World Cup                                    34
2023 Tel Aviv World Challenge Cup                         31
2023 Winter Cup                                           31
2022 Winter Cup                                           24
2022 Doha World Cup                                       23
Name: count, dtype: int64

In [28]:
usopc_bb['Competition'] = usopc_bb['Competition'].str.replace('2022', '').str.replace('2023', '')

In [36]:
usopc_bb = usopc_bb.drop(columns=["Gender", "Date", "Round"])

In [38]:
usopc_bb

,Name,Country,Competition,Rank,D_Score,E_Score,Penalty,Score,year
0,Jana ABDELSALAM,EGY,51st FIG Artistic Gymnastics World Championships,100.0,4.8,6.200,0.0,11.000,2022
1,Jana ABDELSALAM,EGY,Baku World Cup,22.0,4.8,6.733,0.0,11.533,2023
2,Jana ABDELSALAM,EGY,Cairo World Cup,8.0,4.8,6.566,0.0,11.366,2023
3,Jana ABDELSALAM,EGY,Cairo World Cup,9.0,4.7,7.466,0.0,12.166,2023
4,Jana ABDELSALAM,EGY,Doha World Cup,4.0,5.0,8.000,0.0,13.000,2023
...,...,...,...,...,...,...,...,...,...
1336,Christina Zwicker,CRO,Osijek World Challenge Cup,3.0,4.6,8.100,0.0,12.700,2023
1337,Christina Zwicker,CRO,Tel Aviv World Challenge Cup,11.0,4.5,7.333,0.0,11.833,2023
1338,Kate None,AUS,51st FIG Artistic Gymnastics World Championships,110.0,5.1,5.633,0.0,10.733,2022
1339,Kate None,AUS,BIRMINGHAM Commonwealth Games,1.0,5.1,8.366,0.0,13.466,2022
1340,Kate None,AUS,BIRMINGHAM Commonwealth Games,5.0,5.0,7.950,0.0,12.950,2022

In [50]:
usopc_bb.head()

,Name,Nation,Competition,Rank,D_Score,E_Score,Penalty,Total,year
0,Jana ABDELSALAM,EGY,51st FIG Artistic Gymnastics World Championships,100.0,4.8,6.200,0.0,11.000,2022
1,Jana ABDELSALAM,EGY,Baku World Cup,22.0,4.8,6.733,0.0,11.533,2023
2,Jana ABDELSALAM,EGY,Cairo World Cup,8.0,4.8,6.566,0.0,11.366,2023
3,Jana ABDELSALAM,EGY,Cairo World Cup,9.0,4.7,7.466,0.0,12.166,2023
4,Jana ABDELSALAM,EGY,Doha World Cup,4.0,5.0,8.000,0.0,13.000,2023

In [51]:
wc20Baku_bb.head()

,Rank,Name,Nation,D_Score,E_Score,Penalty,Total,year,Competition
0,1,Urara Ashikawa,JPN,5.4,8.450,0.0,13.850,2020,World Cup Baku
1,2,Rebeca Andrade,BRA,5.6,8.200,0.0,13.800,2020,World Cup Baku
2,3,Anastasiia Bachynska,UKR,5.8,7.700,0.0,13.500,2020,World Cup Baku
3,4,Emma Nedov,AUS,5.4,7.766,0.0,13.166,2020,World Cup Baku
4,5,Yana Vorona,RUS,5.7,7.433,0.0,13.133,2020,World Cup Baku

In [49]:
usopc_bb = usopc_bb.rename(columns={'Country': 'Nation', 'Score': 'Total'})

In [52]:
usopc_bb.columns

Index(['Name', 'Nation', 'Competition', 'Rank', 'D_Score', 'E_Score',
       'Penalty', 'Total', 'year'],
      dtype='object')

In [53]:
desired_column_order = ['Rank','Name', 'Nation',  'D_Score', 'E_Score',
       'Penalty', 'Total', 'year', 'Competition',]

# Reorder the columns based on the desired order
usopc_bb = usopc_bb[desired_column_order]

In [54]:
usopc_bb.head()

,Rank,Name,Nation,D_Score,E_Score,Penalty,Total,year,Competition
0,100.0,Jana ABDELSALAM,EGY,4.8,6.200,0.0,11.000,2022,51st FIG Artistic Gymnastics World Championships
1,22.0,Jana ABDELSALAM,EGY,4.8,6.733,0.0,11.533,2023,Baku World Cup
2,8.0,Jana ABDELSALAM,EGY,4.8,6.566,0.0,11.366,2023,Cairo World Cup
3,9.0,Jana ABDELSALAM,EGY,4.7,7.466,0.0,12.166,2023,Cairo World Cup
4,4.0,Jana ABDELSALAM,EGY,5.0,8.000,0.0,13.000,2023,Doha World Cup

In [55]:
wc20Baku_bb.head()

,Rank,Name,Nation,D_Score,E_Score,Penalty,Total,year,Competition
0,1,Urara Ashikawa,JPN,5.4,8.450,0.0,13.850,2020,World Cup Baku
1,2,Rebeca Andrade,BRA,5.6,8.200,0.0,13.800,2020,World Cup Baku
2,3,Anastasiia Bachynska,UKR,5.8,7.700,0.0,13.500,2020,World Cup Baku
3,4,Emma Nedov,AUS,5.4,7.766,0.0,13.166,2020,World Cup Baku
4,5,Yana Vorona,RUS,5.7,7.433,0.0,13.133,2020,World Cup Baku

In [56]:
# Concatenate df1 and df2 vertically (along rows)
combined_df = pd.concat([usopc_bb, wc20Baku_bb], ignore_index=True)

In [58]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1373 entries, 0 to 1372
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         1373 non-null   float64
 1   Name         1373 non-null   object
 2   Nation       1358 non-null   object
 3   D_Score      1373 non-null   float64
 4   E_Score      1373 non-null   float64
 5   Penalty      1373 non-null   float64
 6   Total        1373 non-null   float64
 7   year         1373 non-null   object
 8   Competition  1373 non-null   object
dtypes: float64(5), object(4)
memory usage: 96.7+ KB

In [59]:
bb = combined_df.copy()