In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('../Cleaning/qual08to20/clean16to20_team_qual.csv')

In [14]:
df

,Name,Country,uneven_score,uneven_rank,bb_score,bb_rank,floor_score,floor_rank,vault1_score,vault2_score,vault_avg_score,vault_rank,total_score,total_rank
0,Simone Biles,USA,15.000,14.0,15.633,1.0,15.733,1.0,16.000,16.1,16.05,1.0,62.416,1.0
1,Aly Raisman,USA,14.733,22.0,14.833,7.0,15.275,2.0,15.766,0.0,0.00,0.0,60.607,2.0
2,Gabby Douglas,USA,15.766,3.0,14.833,7.0,14.366,9.0,15.166,0.0,0.00,0.0,60.131,3.0
3,Laurie Hernandez,USA,0.000,0.0,15.366,2.0,14.800,4.0,15.200,0.0,0.00,0.0,0.000,0.0
4,Madison Kocian,USA,15.866,1.0,0.000,0.0,0.000,0.0,0.000,0.0,0.00,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,Sanne Wevers,NED,11.733,69.0,13.866,14.0,0.000,0.0,0.000,0.0,0.00,0.0,0.000,0.0
104,Laura Bechdej√∫,ESP,12.700,56.0,12.666,45.0,12.300,62.0,13.533,0.0,0.00,0.0,51.199,53.0
105,Marina Gonz√°lez,ESP,11.033,81.0,12.366,55.0,12.866,36.0,13.233,0.0,0.00,0.0,49.498,63.0
106,Alba Petisco,ESP,12.866,51.0,11.700,73.0,12.566,53.0,13.466,0.0,0.00,0.0,50.598,57.0
107,Roxana Popa,ESP,14.400,15.0,12.866,40.0,12.533,55.0,14.300,0.0,0.00,0.0,54.099,21.0