In [24]:
import pandas as pd
import numpy as np

In [1]:
!pip install pybaseball

Requirement already satisfied: pybaseball in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (2.2.1)
Requirement already satisfied: numpy>=1.13.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.23.5)
Requirement already satisfied: pandas>=1.0.3 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.4.3)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (4.11.1)
Requirement already satisfied: requests>=2.18.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (2.28.0)
Requirement already satisfied: lxml>=4.2.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (4.8.0)
Requirement already satisfied: pyarrow>=1.0.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (12.0.0)
Requirement already satisfied: pygithub>=1.51 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.55)
Requirement already satisfied: scipy>=1.4.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (1.10.1)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (3.5.1)
Requirement already satisfied: tqdm>=4.50.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (4.64.0)
Requirement already satisfied: attrs>=20.3.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pybaseball) (21.4.0)
Requirement already satisfied: soupsieve>1.2 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.4.0->pybaseball) (2.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (1.4.2)
Requirement already satisfied: packaging>=20.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.0.0->pybaseball) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.3->pybaseball) (2022.1)
Requirement already satisfied: deprecated in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pygithub>=1.51->pybaseball) (1.2.13)
Requirement already satisfied: pyjwt>=2.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pygithub>=1.51->pybaseball) (2.1.0)
Requirement already satisfied: pynacl>=1.4.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pygithub>=1.51->pybaseball) (1.5.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.18.1->pybaseball) (2022.9.24)
Requirement already satisfied: cffi>=1.4.1 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.15.0)
Requirement already satisfied: six>=1.5 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.0.0->pybaseball) (1.16.0)
Requirement already satisfied: wrapt<2,>=1.10 in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from deprecated->pygithub>=1.51->pybaseball) (1.12.1)
Requirement already satisfied: pycparser in /Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.21)
WARNING: Error parsing requirements for markupsafe: [Errno 2] No such file or directory: '/Users/ryantalbot/opt/anaconda3/lib/python3.9/site-packages/MarkupSafe-2.0.1.dist-info/METADATA'

In [2]:
# import sys
# sys.path

['/Users/ryantalbot/Desktop/MSDS/Core/Data Mining Foundations/Data Mining Project/MLB/Resources',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python39.zip',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/lib-dynload',
 '',
 '/Users/ryantalbot/.local/lib/python3.9/site-packages',
 '/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages',
 '/Users/ryantalbot/.local/lib/python3.9/site-packages/IPython/extensions',
 '/Users/ryantalbot/.ipython']

In [3]:
# /Users/yufeng/anaconda3/envs/py33/bin/python -m pip install plotly

In [4]:
from pybaseball import statcast

In [5]:
data = statcast(start_dt='2017-06-24', end_dt='2017-06-27')

This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 4/4 [00:14<00:00,  3.52s/it]

In [6]:
data.head(2)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3293,CU,2017-06-27,79.7,-1.34,5.41,"Bush, Matt",608070,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,51,-0.096,-0.228
3430,FF,2017-06-27,98.1,-1.35,5.42,"Bush, Matt",429665,456713,field_out,hit_into_play,...,2,2,1,1,2,Standard,Strategic,204,-0.11,-0.292

In [7]:
from pybaseball import schedule_and_record
data = schedule_and_record(1927, 'NYY')

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/team_results.py:70: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('',1) #not a useful column
/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/team_results.py:83: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('Streak2',1)

In [8]:
data

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Tuesday, Apr 12",NYY,Home,PHA,W,8.0,3.0,9.0,1-0,1.0,Tied,Hoyt,Grove,None,2:05,D,72000.0,2.55,1,None
2,"Wednesday, Apr 13",NYY,Home,PHA,W,10.0,4.0,9.0,2-0,1.0,up 0.5,Ruether,Gray,None,2:15,D,8000.0,2.71,2,None
3,"Thursday, Apr 14",NYY,Home,PHA,T,9.0,9.0,10.0,2-0,1.0,Tied,None,None,None,2:50,D,9000.0,2.84,2,None
4,"Friday, Apr 15",NYY,Home,PHA,W,6.0,3.0,9.0,3-0,1.0,Tied,Pennock,Ehmke,None,2:27,D,16000.0,2.86,3,None
5,"Saturday, Apr 16",NYY,Home,BOS,W,5.0,2.0,9.0,4-0,1.0,up 1.0,Shocker,Ruffing,None,2:05,D,25000.0,3.00,4,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,"Sunday, Sep 25",NYY,Home,DET,L,1.0,6.0,9.0,106-44,1.0,up16.5,Whitehill,Hoyt,None,2:20,D,25000.0,.00,-1,None
152,"Tuesday, Sep 27",NYY,Home,PHA,W,7.0,4.0,9.0,107-44,1.0,up17.5,Pennock,Grove,Moore,2:12,D,15000.0,.00,1,None
153,"Thursday, Sep 29",NYY,Home,WSH,W,15.0,4.0,9.0,108-44,1.0,up18.5,Shocker,Lisenbee,Shawkey,1:58,D,7500.0,.00,2,None
154,"Friday, Sep 30",NYY,Home,WSH,W,4.0,2.0,9.0,109-44,1.0,up19.0,Pennock,Zachary,None,1:38,D,8000.0,.00,3,None
155,"Saturday, Oct 1",NYY,Home,WSH,W,4.0,3.0,9.0,110-44,1.0,up18.5,Moore,Burke,Hoyt,1:35,D,20000.0,.00,4,None

In [14]:
from pybaseball import standings
# standings = standings(2016)[4]

In [12]:
standings

                    Tm    W   L  W-L%    GB
1         Chicago Cubs  103  58  .640    --
2  St. Louis Cardinals   86  76  .531  17.5
3   Pittsburgh Pirates   78  83  .484  25.0
4    Milwaukee Brewers   73  89  .451  30.5
5      Cincinnati Reds   68  94  .420  35.5

In [15]:
stand = standings(2016)

In [16]:
stand

[                  Tm   W   L  W-L%    GB
 1     Boston Red Sox  93  69  .574    --
 2  Baltimore Orioles  89  73  .549   4.0
 3  Toronto Blue Jays  89  73  .549   4.0
 4   New York Yankees  84  78  .519   9.0
 5     Tampa Bay Rays  68  94  .420  25.0,
                    Tm   W    L  W-L%    GB
 1   Cleveland Indians  94   67  .584    --
 2      Detroit Tigers  86   75  .534   8.0
 3  Kansas City Royals  81   81  .500  13.5
 4   Chicago White Sox  78   84  .481  16.5
 5     Minnesota Twins  59  103  .364  35.5,
                    Tm   W   L  W-L%    GB
 1       Texas Rangers  95  67  .586    --
 2    Seattle Mariners  86  76  .531   9.0
 3      Houston Astros  84  78  .519  11.0
 4  Los Angeles Angels  74  88  .457  21.0
 5   Oakland Athletics  69  93  .426  26.0,
                       Tm   W   L  W-L%    GB
 1   Washington Nationals  95  67  .586    --
 2          New York Mets  87  75  .537   8.0
 3          Miami Marlins  79  82  .491  15.5
 4  Philadelphia Phillies  71  91  .438  24.0
 5         Atlanta Braves  68  93  .422  26.5,
                     Tm    W   L  W-L%    GB
 1         Chicago Cubs  103  58  .640    --
 2  St. Louis Cardinals   86  76  .531  17.5
 3   Pittsburgh Pirates   78  83  .484  25.0
 4    Milwaukee Brewers   73  89  .451  30.5
 5      Cincinnati Reds   68  94  .420  35.5,
                      Tm   W   L  W-L%    GB
 1   Los Angeles Dodgers  91  71  .562    --
 2  San Francisco Giants  87  75  .537   4.0
 3      Colorado Rockies  75  87  .463  16.0
 4  Arizona Diamondbacks  69  93  .426  22.0
 5      San Diego Padres  68  94  .420  23.0]

In [17]:
from pybaseball import statcast

# get all statcast data for July 4th, 2017
data = statcast('2017-07-04')

This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 1/1 [00:14<00:00, 14.11s/it]

In [18]:
data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3193,FC,2017-07-04,91.1,-0.79,6.04,"Osuna, Roberto",642180,532077,field_out,hit_into_play,...,4,4,1,1,4,Standard,Standard,165,-0.005,-0.088
3247,FC,2017-07-04,92.3,-1.04,5.86,"Osuna, Roberto",642180,532077,NaN,foul,...,4,4,1,1,4,Standard,Standard,174,0.0,-0.018
3382,FC,2017-07-04,91.0,-1.32,5.83,"Osuna, Roberto",453056,532077,strikeout,swinging_strike,...,4,4,1,1,4,Standard,Standard,203,-0.012,-0.152
3443,FF,2017-07-04,95.6,-1.14,5.98,"Osuna, Roberto",453056,532077,NaN,ball,...,4,4,1,1,4,Standard,Standard,199,0.0,0.031
3575,FC,2017-07-04,91.2,-1.24,5.94,"Osuna, Roberto",453056,532077,NaN,called_strike,...,4,4,1,1,4,Standard,Standard,178,0.0,-0.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3908,FF,2017-07-04,93.3,1.18,6.38,"Kershaw, Clayton",572041,477132,NaN,foul,...,0,0,0,0,0,Standard,Standard,177,0.0,0.0
4048,SL,2017-07-04,88.6,1.19,6.49,"Kershaw, Clayton",572041,477132,NaN,foul,...,0,0,0,0,0,Standard,Standard,192,0.0,-0.069
4206,SL,2017-07-04,89.7,1.11,6.48,"Kershaw, Clayton",572041,477132,NaN,ball,...,0,0,0,0,0,Standard,Standard,195,0.0,0.05
4267,CU,2017-07-04,73.4,0.81,6.66,"Kershaw, Clayton",572041,477132,NaN,ball,...,0,0,0,0,0,Standard,Standard,346,0.0,0.027
4364,FF,2017-07-04,92.7,1.08,6.43,"Kershaw, Clayton",572041,477132,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,176,0.0,-0.037

In [19]:
#get data for the first seven days of August in 2016
seven = statcast('2016-08-01', '2016-08-07')

#get all data for the Texas Rangers in the 2016 season
rangers = statcast('2016-04-01', '2016-10-30', team='TEX')

# get data for yesterday
yest = statcast()

This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 7/7 [00:16<00:00,  2.32s/it]

This is a large query, it may take a moment to complete

/Users/ryantalbot/opt/anaconda3/envs/tf2/lib/python3.9/site-packages/pybaseball/statcast.py:50: UserWarning:
That's a nice request you got there. It'd be a shame if something were to happen to it.
We strongly recommend that you enable caching before running this. It's as simple as `pybaseball.cache.enable()`.
Since the Statcast requests can take a *really* long time to run, if something were to happen, like: a disconnect;
gremlins; computer repair by associates of Rudy Giuliani; electromagnetic interference from metal trash cans; etc.;
you could lose a lot of progress. Enabling caching will allow you to immediately recover all the successful
subqueries if that happens.
  warnings.warn(_OVERSIZE_WARNING)

Skipping offseason dates

100%|█████████████████████████████████████████| 211/211 [00:39<00:00,  5.36it/s]

start_dt 2023-08-15
end_dt 2023-08-16
Warning: no date range supplied, assuming yesterday's date.
This is a large query, it may take a moment to complete

100%|█████████████████████████████████████████████| 2/2 [00:14<00:00,  7.47s/it]

In [20]:
seven

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
2598,CH,2016-08-07,82.8,-0.46,6.77,"Young, Chris",446381,432934,field_out,hit_into_play,...,7,1,7,1,7,Standard,Standard,188,0.0,-0.22
2691,FF,2016-08-07,90.1,-0.25,6.8,"Young, Chris",489365,432934,single,hit_into_play,...,7,1,7,1,7,Strategic,Standard,192,0.0,0.102
2726,FF,2016-08-07,87.7,-0.42,6.7,"Young, Chris",489365,432934,NaN,ball,...,7,1,7,1,7,Strategic,Standard,205,0.0,0.013
2824,FF,2016-08-07,89.0,-0.45,6.69,"Young, Chris",425834,432934,strikeout,swinging_strike,...,7,1,7,1,7,Standard,Standard,204,0.001,-0.1
2869,SL,2016-08-07,83.2,-0.4,6.79,"Young, Chris",425834,432934,NaN,swinging_strike,...,7,1,7,1,7,Standard,Standard,195,0.0,-0.037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276,KC,2016-08-01,83.3,2.07,6.58,"Paxton, James",456030,572020,strikeout,called_strike,...,0,0,0,0,0,Standard,Standard,329,0.015,-0.1
2342,FF,2016-08-01,98.0,2.1,6.67,"Paxton, James",456030,572020,NaN,foul,...,0,0,0,0,0,Standard,Standard,147,0.0,-0.037
2438,FF,2016-08-01,97.4,2.09,6.69,"Paxton, James",456030,572020,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,156,0.0,-0.025
2491,FF,2016-08-01,97.1,2.01,6.74,"Paxton, James",605141,572020,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,157,0.022,-0.2
2577,FF,2016-08-01,97.1,2.28,6.67,"Paxton, James",605141,572020,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,165,0.0,-0.037

In [21]:
rangers

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,FF,2016-10-09,99.1,-1.47,5.48,"Bush, Matt",431145,456713,force_out,hit_into_play,...,6,6,7,7,6,Standard,Standard,212,0.297,-0.726
2,FF,2016-10-09,99.7,-1.51,5.4,"Bush, Matt",431145,456713,NaN,foul,...,6,6,6,6,6,Standard,Standard,200,0.0,0.0
4,FF,2016-10-09,98.5,-1.49,5.55,"Bush, Matt",431145,456713,NaN,foul,...,6,6,6,6,6,Standard,Standard,209,0.0,0.0
7,FF,2016-10-09,98.8,-1.58,5.51,"Bush, Matt",431145,456713,NaN,ball,...,6,6,6,6,6,Standard,Standard,206,0.0,0.172
8,FF,2016-10-09,98.5,-1.39,5.43,"Bush, Matt",431145,456713,NaN,ball,...,6,6,6,6,6,Standard,Standard,201,0.0,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,FF,2016-04-04,92.2,2.03,6.56,"Hamels, Cole",606466,430935,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,0.042
122,FF,2016-04-04,92.5,1.98,6.55,"Hamels, Cole",606466,430935,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,0.028
124,FF,2016-04-04,92.5,2.25,6.43,"Hamels, Cole",493114,430935,field_out,hit_into_play,...,0,0,0,0,0,NaN,NaN,<NA>,0.022,-0.225
129,FC,2016-04-04,88.2,2.19,6.35,"Hamels, Cole",493114,430935,NaN,ball,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,0.025
130,FF,2016-04-04,91.8,1.8,6.66,"Hamels, Cole",493114,430935,NaN,called_strike,...,0,0,0,0,0,NaN,NaN,<NA>,0.0,-0.037

In [22]:
yest

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
3799,FC,2023-08-15,93.2,-2.9,6.18,"Jansen, Kenley",666164,445276,field_out,hit_into_play,...,5,5,4,4,5,Standard,Standard,203,-0.044,-0.105
3890,FC,2023-08-15,93.5,-2.75,6.16,"Jansen, Kenley",545121,445276,field_out,hit_into_play,...,5,5,4,4,5,Standard,Standard,196,-0.064,0.057
4040,FC,2023-08-15,94.5,-2.81,6.2,"Jansen, Kenley",666906,445276,strikeout,swinging_strike,...,5,5,4,4,5,Strategic,Standard,199,-0.086,-0.151
4137,FC,2023-08-15,93.0,-2.88,6.26,"Jansen, Kenley",666906,445276,NaN,foul,...,5,5,4,4,5,Standard,Standard,200,0.0,-0.047
4243,FC,2023-08-15,92.9,-2.95,6.18,"Jansen, Kenley",666906,445276,NaN,called_strike,...,5,5,4,4,5,Standard,Standard,199,0.0,-0.038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,SI,2023-08-15,88.4,3.04,5.75,"Blach, Ty",502054,621389,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,114,0.028,-0.255
3920,SI,2023-08-15,88.8,3.28,5.75,"Blach, Ty",502054,621389,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,112,0.0,-0.05
4036,SI,2023-08-15,89.4,2.96,5.76,"Blach, Ty",682998,621389,single,hit_into_play,...,0,0,0,0,0,Standard,Strategic,112,-0.025,0.264
4219,SI,2023-08-15,89.3,2.91,5.81,"Blach, Ty",606466,621389,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,108,0.022,-0.198
4270,SI,2023-08-15,88.7,3.06,5.69,"Blach, Ty",606466,621389,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,109,0.0,-0.038

In [26]:
from pybaseball import team_game_logs

In [29]:
# Braves batting logs for 2019
batting_logs = team_game_logs(2019, "ATL")

# Orioles pitching logs from 2018
pitching_logs = team_game_logs(2019, "ATL", "pitching")

In [28]:
batting_logs

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Mar 28,True,PHI,"L,4-10",36,30,4,7,1,...,1,1,0.233,0.361,0.367,0.728,5,15,R,A.Nola(67)
1,2,Mar 30,True,PHI,"L,6-8",40,36,6,10,2,...,1,0,0.258,0.355,0.470,0.825,7,17,R,N.Pivetta(35)
2,3,Mar 31,True,PHI,"L,1-5",36,29,1,4,0,...,1,2,0.221,0.339,0.368,0.708,8,14,R,J.Arrieta(62)
3,4,Apr 1,False,CHC,"W,8-0",43,36,8,12,3,...,0,0,0.252,0.368,0.427,0.795,11,15,R,K.Hendricks(26)
4,5,Apr 3,False,CHC,"W,6-4",39,30,6,8,1,...,1,0,0.255,0.376,0.441,0.817,9,16,L,J.Lester(56)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Sep 24,True,KCR,"L,6-9",41,37,6,11,3,...,0,0,0.258,0.336,0.454,0.790,8,13,L,D.Duffy(48)
158,159,Sep 25,True,KCR,"W,10-2",48,40,10,14,4,...,0,0,0.258,0.337,0.454,0.791,11,13,L,M.Montgomery(47)
159,160,Sep 27,True,NYM,"L,2-4",39,35,2,9,0,...,2,0,0.258,0.337,0.453,0.790,10,15,R,M.Stroman(59)
160,161,Sep 28,True,NYM,"L,0-3",37,31,0,4,0,...,0,0,0.258,0.337,0.451,0.788,10,14,L,S.Matz(70)
161,162,Sep 29,True,NYM,"L,6-7",45,42,6,11,1,...,1,1,0.258,0.336,0.452,0.789,6,22,R,N.Syndergaard(62)

In [31]:
batting_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Game        162 non-null    int64
 1   Date        162 non-null    object
 2   Home        162 non-null    bool
 3   Opp         162 non-null    object
 4   Rslt        162 non-null    object
 5   PA          162 non-null    int64
 6   AB          162 non-null    int64
 7   R           162 non-null    int64
 8   H           162 non-null    int64
 9   2B          162 non-null    int64
 10  3B          162 non-null    int64
 11  HR          162 non-null    int64
 12  RBI         162 non-null    int64
 13  BB          162 non-null    int64
 14  IBB         162 non-null    int64
 15  SO          162 non-null    int64
 16  HBP         162 non-null    int64
 17  SH          162 non-null    int64
 18  SF          162 non-null    int64
 19  ROE         162 non-null    int64
 20  GDP         162 non-null    int64
 21  SB          162 non-null    int64
 22  CS          162 non-null    int64
 23  BA          162 non-null    float64
 24  OBP         162 non-null    float64
 25  SLG         162 non-null    float64
 26  OPS         162 non-null    float64
 27  LOB         162 non-null    int64
 28  NumPlayers  162 non-null    int64
 29  Thr         162 non-null    object
 30  OppStart    162 non-null    object
dtypes: bool(1), float64(4), int64(21), object(5)
memory usage: 38.3+ KB

In [32]:
batting_logs.describe()

,Game,PA,AB,R,H,2B,3B,HR,RBI,BB,...,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers
count,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,...,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000
mean,81.500000,38.901235,34.320988,5.277778,8.839506,1.709877,0.179012,1.537037,5.086420,3.820988,...,0.308642,0.641975,0.549383,0.172840,0.261333,0.341747,0.451302,0.793025,7.024691,14.586420
std,46.909487,4.896709,4.068748,3.203744,3.285416,1.359037,0.400377,1.216547,3.081492,2.183804,...,0.603138,0.646224,0.898947,0.410729,0.005322,0.011156,0.013796,0.016426,2.560936,2.211335
min,1.000000,28.000000,24.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.221000,0.330000,0.367000,0.708000,1.000000,9.000000
25%,41.250000,35.000000,32.000000,3.000000,7.000000,1.000000,0.000000,1.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.259000,0.336000,0.445000,0.790000,5.000000,13.000000
50%,81.500000,38.000000,34.000000,5.000000,8.000000,1.000000,0.000000,1.500000,4.000000,4.000000,...,0.000000,1.000000,0.000000,0.000000,0.261500,0.337000,0.456000,0.795000,7.000000,15.000000
75%,121.750000,42.000000,36.000000,7.000000,11.000000,2.750000,0.000000,2.000000,7.000000,6.000000,...,0.000000,1.000000,1.000000,0.000000,0.264000,0.340750,0.459000,0.799750,9.000000,16.000000
max,162.000000,56.000000,49.000000,15.000000,19.000000,6.000000,2.000000,6.000000,15.000000,9.000000,...,3.000000,3.000000,5.000000,2.000000,0.277000,0.391000,0.470000,0.843000,14.000000,22.000000

In [33]:
pitching_logs.head()

,Game,Date,Home,Opp,Rslt,IP,H,R,ER,UER,...,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers,Umpire,PitchersUsed
0,1,Mar 28,True,PHI,"L,4-10",8.0,7,10,10,0,...,0,0,2,0,0,0,0,5,Mike Winters,"J.Teheran (99-52-L), S.Carle (99), W.Parsons (..."
1,2,Mar 30,True,PHI,"L,6-8",8.0,9,8,8,0,...,2,1,1,0,0,0,0,6,Tim Timmons,"B.Wilson (99-33), W.Parsons (1-L), J.Venters (..."
2,3,Mar 31,True,PHI,"L,1-5",8.0,5,5,5,0,...,1,0,0,0,1,0,1,4,Rob Drake,"K.Wright (99-46-L), M.Fried (2), S.Carle (2), ..."
3,4,Apr 1,False,CHC,"W,8-0",9.0,9,0,0,0,...,3,0,0,0,0,1,3,5,Gary Cederstrom,"S.Newcomb (99-49), W.Parsons (1-W), J.Biddle (..."
4,5,Apr 3,False,CHC,"W,6-4",9.0,12,4,4,0,...,0,0,0,0,0,0,1,6,Marvin Hudson,"J.Teheran (5-55), J.Venters (3-BSv), W.Parsons..."

In [34]:
pitching_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          162 non-null    int64
 1   Date          162 non-null    object
 2   Home          162 non-null    bool
 3   Opp           162 non-null    object
 4   Rslt          162 non-null    object
 5   IP            162 non-null    float64
 6   H             162 non-null    int64
 7   R             162 non-null    int64
 8   ER            162 non-null    int64
 9   UER           162 non-null    int64
 10  BB            162 non-null    int64
 11  SO            162 non-null    int64
 12  HR            162 non-null    int64
 13  HBP           162 non-null    int64
 14  ERA           162 non-null    float64
 15  BF            162 non-null    int64
 16  Pit           162 non-null    int64
 17  Str           162 non-null    int64
 18  IR            161 non-null    float64
 19  IS            161 non-null    float64
 20  SB            162 non-null    int64
 21  CS            162 non-null    int64
 22  AB            162 non-null    int64
 23  2B            162 non-null    int64
 24  3B            162 non-null    int64
 25  IBB           162 non-null    int64
 26  SH            162 non-null    int64
 27  SF            162 non-null    int64
 28  ROE           162 non-null    int64
 29  GDP           162 non-null    int64
 30  NumPlayers    162 non-null    int64
 31  Umpire        162 non-null    object
 32  PitchersUsed  162 non-null    object
dtypes: bool(1), float64(4), int64(23), object(5)
memory usage: 40.8+ KB

In [35]:
pitching_logs.describe()

,Game,IP,H,R,ER,UER,BB,SO,HR,HBP,...,CS,AB,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers
count,162.000000,162.00000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,...,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000
mean,81.500000,8.94321,8.771605,4.586420,4.166667,0.419753,3.382716,8.598765,1.253086,0.425926,...,0.123457,34.302469,1.561728,0.141975,0.203704,0.240741,0.166667,0.259259,0.827160,4.549383
std,46.909487,0.80764,3.346036,3.022987,2.961974,0.937344,2.158720,2.593494,1.154584,0.720641,...,0.329981,4.185289,1.435752,0.383953,0.487596,0.483332,0.390095,0.517466,0.929705,1.300036
min,1.000000,6.00000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,...,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,41.250000,9.00000,6.000000,2.000000,2.000000,0.000000,2.000000,7.000000,0.000000,0.000000,...,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,81.500000,9.00000,9.000000,4.000000,4.000000,0.000000,3.000000,8.000000,1.000000,0.000000,...,0.000000,34.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
75%,121.750000,9.00000,11.000000,7.000000,6.000000,0.000000,5.000000,10.000000,2.000000,1.000000,...,0.000000,37.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
max,162.000000,14.00000,23.000000,14.000000,14.000000,5.000000,10.000000,15.000000,5.000000,4.000000,...,1.000000,47.000000,7.000000,2.000000,2.000000,2.000000,2.000000,2.000000,4.000000,10.000000