In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import altair as alt

In [2]:
df = pd.read_csv('big17_23.csv')

In [3]:
df

,LastName,FirstName,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score
0,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.800,6.766,NaN,11.566
1,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",FX,64.0,4.600,7.633,NaN,12.233
2,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",UE,74.0,5.100,6.500,NaN,11.600
3,ABDUL,HADI,w,MAS,SUN 25 JUL 2021,Olympic Games,qual,"Tokyo, Japan",VT,72.0,4.600,8.566,NaN,13.166
4,ABDUL HADI,Farah Ann,w,MAS,25 July 2021,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.800,6.766,NaN,11.566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13436,NaN,Kate,w,AUS,29 Oct 2022 - 6 Nov 2022,51st FIG Artistic Gymnastics World Championships,qual,"Liverpool, England",UB,17.0,8.466,5.600,NaN,14.066
13437,NaN,Kate,w,AUS,"29 Jul-2 Aug, 2023",BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,8.366,5.100,NaN,13.466
13438,NaN,Kate,w,AUS,"29 Jul-2 Aug, 2023",BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,7.950,5.000,NaN,12.950
13439,NaN,Kate,w,AUS,"29 Jul-2 Aug, 2023",BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,7.233,5.300,NaN,12.533
13440,NaN,Kate,w,AUS,"29 Jul-2 Aug, 2023",BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,7.900,5.600,NaN,13.500

In [4]:
df.drop_duplicates(inplace=True)
df['Name'] = df['FirstName'] + " " + df['LastName']
df = df.drop(columns=["LastName", "FirstName"])
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
fill_columns = ['Rank', 'D_Score', 'E_Score', 'Score']
df[fill_columns] = df[fill_columns].fillna(0)
df["Penalty"] = df["Penalty"].fillna(0)
df['Total_Score'] = df['D_Score'] + df['E_Score'] - df['Penalty']
df

/var/folders/j_/555m2zps099832fjh_m8jjnc0000gn/T/ipykernel_76374/4025673313.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

,Gender,Country,Date,Competition,Round,Location,Apparatus,Rank,D_Score,E_Score,Penalty,Score,Name,Total_Score
0,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.800,6.766,0.0,11.566,HADI ABDUL,11.566
1,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",FX,64.0,4.600,7.633,0.0,12.233,HADI ABDUL,12.233
2,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",UE,74.0,5.100,6.500,0.0,11.600,HADI ABDUL,11.600
3,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",VT,72.0,4.600,8.566,0.0,13.166,HADI ABDUL,13.166
4,w,MAS,2021-07-25,Olympic Games,qual,"Tokyo, Japan",BB,76.0,4.800,6.766,0.0,11.566,Farah Ann ABDUL HADI,11.566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13436,w,AUS,NaT,51st FIG Artistic Gymnastics World Championships,qual,"Liverpool, England",UB,17.0,8.466,5.600,0.0,14.066,NaN,14.066
13437,w,AUS,NaT,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",BB,1.0,8.366,5.100,0.0,13.466,NaN,13.466
13438,w,AUS,NaT,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",BB,5.0,7.950,5.000,0.0,12.950,NaN,12.950
13439,w,AUS,NaT,BIRMINGHAM 2022 Commonwealth Games,final,"Birmingham, England",UB,7.0,7.233,5.300,0.0,12.533,NaN,12.533
13440,w,AUS,NaT,BIRMINGHAM 2022 Commonwealth Games,qual,"Birmingham, England",UB,5.0,7.900,5.600,0.0,13.500,NaN,13.500

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13441 entries, 2729 to 13440
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       13441 non-null  object
 1   Country      13229 non-null  object
 2   Date         9264 non-null   datetime64[ns]
 3   Competition  13441 non-null  object
 4   Round        13441 non-null  object
 5   Location     13441 non-null  object
 6   Apparatus    13441 non-null  object
 7   Rank         13441 non-null  float64
 8   D_Score      13441 non-null  float64
 9   E_Score      13441 non-null  float64
 10  Penalty      13441 non-null  float64
 11  Score        13441 non-null  float64
 12  Name         13396 non-null  object
 13  Total_Score  13441 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 1.5+ MB

## vizualise the change in d scores over time do same with e socre

In [20]:
# Sort the DataFrame by 'Date'
df = df.sort_values('Date')

dfs = df.iloc[:500]

melted_df = pd.melt(dfs, id_vars=['Date'], value_vars=['D_Score', 'E_Score'], var_name='Score_Type', value_name='Score_Value')

# Create Altair chart
chart = alt.Chart(melted_df).mark_line().encode(
    x='Date:T',
    y='Score_Value:Q',
    color='Score_Type:N'
).properties(
    width=600,
    height=400,
    title='D_Score and E_Score Over Time'
)

chart.configure_legend(
    title=None
).configure_axis(
    labelFontSize=12,
    titleFontSize=14
).configure_title(
    fontSize=16,
    anchor='middle'
).interactive()

AttributeError: 'Series' object has no attribute 'iteritems'

alt.Chart(...)